<template>
    <form action="">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class='modal-card-body'>
                    <span>{{ name }}<br/></span>
                    <span>{{ datetime }}<br/></span>
                    <span>{{ id }}<br/></span>
            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="Cancel"
                    @click="$emit('close')" />
                <b-button
                    label="Delete"
                    type="is-danger"
                    @click="$emit('delete')"
                />
                <b-button
                    label="Update"
                    type="is-primary"
                    @click="$emit('update')"
                />
            </footer>
        </div>
    </form>
</template>

<script>
 export default {
     props: ['name','datetime','id', 'record', 'canCancel']
 }
</script>
