<template>
    <section>
    <b-table
        paginated
        pagination-simple
        focusable
        per-page=5
        v-if="allRows.length > 0"
        :data="rows"
        :columns="allColumns"
        :selected.sync="selectedEntry"
    >
    </b-table>
    <b-modal
        ref="editModal"
        has-modal-card
        trap-focus
        aria-role="dialog"
        arial-label="Period"
        aria-modal
        :destroy-on-hide="false"
    >
        <EditModal v-bind="selectedEntry" @close="selectedEntry = null" @delete="onDelete"></EditModal>
    </b-modal>
    <div v-if="mealTime != 'Anytime' && entryDate">
    <hr/>
    <Nutrition :mealTime="mealTime" :dateTo="entryDate ? entryDateEnd : dateTo" :dateFrom="entryDate ? entryDate : dateFrom"></Nutrition>
    </div>
    </section>
</template>
<script>
 import nutrition from '@/utils/nutrition.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'
 import EditModal from './EditModal.vue'
 import Nutrition from '../Dashboard/Nutrition.vue'

 export default {
     props: ["mealTime","entryDate"],
     components: {
         EditModal,
         Nutrition
     },
     mixins: [setting,datetimeChild],
     data () {
         return {
            data: null,
            selectedEntry: null,
            allRows: []
         }
     },
     methods: {
         async sync () {
             await this.settingSync()

             this.data = await nutrition.getNutritionDate(this.from, this.to)
             this.data.sort((a,b) => { return a.datetime - b.datetime })

             this.allRows = this.data.map (e => {
                 let val = null
                 if (e.record.energy.unit != this.setting.defaultEnergyUnit)
                     val = nutrition.convertEnergy(e.record.energy.qty, e.record.energy.unit, this.setting.defaultEnergyUnit)
                 else
                     val = e.record.energy.qty
                 e.defaultEnergy = val.toFixed(0)
                 if (!e?.mealTime) {
                     e.mealTime = "Anytime"
                 }
                 e.dateString = this.dateString(e.datetime)
                 return e
             })
             this.allRows
         },
         async onDelete() {
             nutrition.deleteNutrition(this.selectedEntry.id)
             await this.sync()
             this.selectedEntry = null
         }
     },
     computed: {
         rows () {
             let computedRows = this.allRows

             if (this.mealTime == "Anytime" && !this.entryDate)
                 return computedRows

             if (this.entryDate)
                 computedRows = computedRows.filter(r => r.datetime.getTime() <= new Date(this.entryDate.getFullYear(), this.entryDate.getMonth(), this.entryDate.getDate(), 23,59,59,999).getTime())

             if (this.mealTime != "Anytime")
                 computedRows = computedRows.filter(r => r.mealTime == this.mealTime)

             return computedRows
         },
         entrySelected () {
             if (this.selectedEntry)
                 return true
             else
                 return false
         },
         allColumns() {
             return [
                 { field: "name", label: "Name" },
                 { field: "mealTime", label: `Meal Time`},
                 { field: "dateString", label: "Date" },
                 { field: "defaultEnergy", label: `Energy(${this.setting.defaultEnergyUnit.unit})`}
             ]
         },
         entryDateEnd() {
             return new Date (this.entryDate.getFullYear(), this.entryDate.getMonth(), this.entryDate.getDate(),23,59,59,999)
         },
     }
 }
</script>
