<template>
    <div class="container">
    <section class='section'>
        <h1 class="title">Record Nutrition</h1>
        <b-field>
        <b-button type="is-primary" @click="quickAdd" icon-left='plus'></b-button>
        <b-autocomplete
            v-model="input"
            :data="filteredDataObj"
            :loading="isFetching"
            field="name"
            clearable
            keep-first
            expanded
            open-on-focus
            placeholder="e.g. Apple"
            @select="option => (selection = option)">
            <template slot-scope="props">
                {{ props.option.name }}
                <div v-if="props.option.brand">
                <small>{{ props.option.brand }}</small>
                </div>
            </template>
            <template #footer>
                <a @click="newFood['name'] = input; input = ''; addFoodModal = true">
                    <span> Add new... </span>
                </a>
            </template>
            <template #empty>
                No results for {{ input }}
                <div>
                <a @click="searchOFF">Load results from Open Food Facts...</a>
                </div>
            </template>
        </b-autocomplete>
        <b-button v-if='false' type="is-primary" icon-right="barcode" @click="scanBarcode"></b-button>
        </b-field>
        <b-modal
            :active.sync="addFoodModal"
            ref="addFoodModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="Add Food"
            aria-modal
            :can-cancel="['escape']">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add Food</p>
                </header>
                <section class='modal-card-body'>
                    <b-field required label="Name" label-position="on-border">
                        <b-input required v-model="newFood['name']"></b-input>
                    </b-field>
                    <b-field label="Brand" label-position="on-border">
                        <b-input v-model="newFood['brand']"></b-input>
                    </b-field>
                    <b-field label-position="on-border" label="Serving Size">
                        <b-numberinput required expanded controls-position="compact" v-model="newFood['serve'][0]['qty']"></b-numberinput>
                        <b-select required v-model="newFood['serve'][0]['unit']">
                            <option v-for="u in allSizeUnits"
                                :value="u"
                                :key="u.name">
                                {{ u.unit }}
                            </option>
                        </b-select>
                    </b-field>
                    <b-field label-position="on-border" label="Energy">
                        <b-numberinput required expanded controls-position="compact" v-model="newFood['serve'][0]['energy']['qty']"></b-numberinput>
                        <b-select required v-model="newFood['serve'][0]['energy']['unit']">
                            <option v-for="u in energyUnits"
                                    :value="u"
                                    :key="u.name">
                                    {{ u.unit }}
                            </option>
                        </b-select>
                    </b-field>
                    <div class="tile is-parent is-vertical">
                    <b-collapse :open="false" class='card is-child' animation='slide'>
                        <template #trigger="props">
                            <div
                                class="card-header"
                                role="button"
                                aria-controls="contentIdForA11y3">
                                <p class="card-header-title">
                                    Macro Nutrients
                                </p>
                                <a class="card-header-icon">
                                    <b-icon
                                        size='is-small'
                                        :icon="props.open ? 'chevron-up' : 'chevron-down'">
                                    </b-icon>
                                </a>
                            </div>
                        </template>
                    <b-field label-position="on-border" label="protein">
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['macro']['protein']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['macro']['protein']['unit']['unit'] }}</span></p>
                    </b-field>
                    <b-field label-position="on-border" label="carbohydrate">
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['macro']['carbohydrate']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['macro']['carbohydrate']['unit']['unit'] }}</span></p>
                    </b-field>
                    <b-field label-position="on-border" label="fat">
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['macro']['fat']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['macro']['fat']['unit']['unit'] }}</span></p>
                    </b-field>
                    <b-field label-position="on-border" label="alcohol" v-show="newFood['serve'][0]['unit']['type'] == 'volume'" v-if="newFood['serve'][0]['unit']">
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['macro']['alcohol']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['macro']['alcohol']['unit']['unit'] }}</span></p>
                    </b-field>
                    </b-collapse>
                    <b-collapse :open="false" class='card is-child' animation='slide'>
                        <template #trigger="props">
                            <div
                                class="card-header"
                                role="button"
                                aria-controls="contentIdForA11y3">
                                <p class="card-header-title">
                                    Micro Nutrients
                                </p>
                                <a class="card-header-icon">
                                    <b-icon
                                        size='is-small'
                                        :icon="props.open ? 'chevron-up' : 'chevron-down'">
                                    </b-icon>
                                </a>
                            </div>
                        </template>
                    <b-field label="fibre" label-position='on-border'>
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['micro']['fibre']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['micro']['fibre']['unit']['unit'] }}</span></p>
                    </b-field>
                    <b-field label="sodium" label-position='on-border'>
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['micro']['sodium']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['micro']['sodium']['unit']['unit'] }}</span></p>
                    </b-field>
                    <b-field label="sugar" label-position='on-border'>
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['micro']['sugar']['qty']"></b-numberinput>
                        <p class="control"><span class="button is-static">{{ newFood['serve'][0]['micro']['sugar']['unit']['unit'] }}</span></p>
                    </b-field>
                    </b-collapse>
                    <b-collapse :open="false" class='card is-child' animation='slide'>
                        <template #trigger="props">
                            <div
                                class="card-header"
                                role="button"
                                aria-controls="contentIdForA11y3">
                                <p class="card-header-title">
                                    Misc
                                </p>
                                <a class="card-header-icon">
                                    <b-icon
                                        size='is-small'
                                        :icon="props.open ? 'chevron-up' : 'chevron-down'">
                                    </b-icon>
                                </a>
                            </div>
                        </template>
                    <b-field label="Serves of Fruit" label-position='on-border'>
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['misc']['sFruit']['qty']"></b-numberinput>
                    </b-field>
                    <b-field label="Serves of Veg" label-position='on-border'>
                        <b-numberinput expanded controls-position="compact" step='0.1' min="0" v-model="newFood['serve'][0]['misc']['sVeg']['qty']"></b-numberinput>
                    </b-field>
                    </b-collapse>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="Cancel"
                        @click="resetNewFood(); $refs.addFoodModal.close()" />
                    <b-button
                        label="Add"
                        type="is-primary"
                    @click="addFood"/>
                </footer>
                </div>
        </b-modal>
        <div v-if='selection'>
            <div v-if='selection.name == "Quick Energy"'>
                <b-field>
                <b-numberinput
                controls-position="compact"
                v-model='energy.qty'
                min="1">
                </b-numberinput>
                <b-select required v-model="energy.unit">
                    <option v-for="u in energyUnits"
                            :value="u"
                            :key="u.name">
                            {{ u.unit }}
                    </option>
                </b-select>
                </b-field>
            </div>
        <div v-else-if="selection.source == 'local'">
        <b-field horizontal>
            <b-field>
            <b-numberinput
                controls-position="compact"
                v-model='serve.qty'
                min="1"
                step='0.1'
                min-step="0.1">
            </b-numberinput>
            <b-select v-model="serve.unit">
                <option
                    v-for="unit in serveUnits"
                    :value="unit"
                    :key="unit.name"
                >
                    {{ serveUnitName(unit.name) }}
                </option>
            </b-select>
            </b-field>
        </b-field>
        <b-field label='Energy' horizontal>
            <b-field>
            <p class='control'>
                <span class='button is-static'>{{ energy.qty.toFixed(0) }}</span>
            </p>
                <b-select required v-model="energy.unit">
                    <option v-for="u in energyUnits"
                            :value="u"
                            :key="u.name">
                            {{ u.unit }}
                    </option>
                </b-select>
                </b-field>
        </b-field>

        <div class="tile is-parent is-vertical">
         <b-collapse :open="false" class='card is-child' animation='slide'>
             <template #trigger="props">
                 <div
                     class="card-header"
                     role="button"
                     aria-controls="contentIdForA11y3">
                     <p class="card-header-title">
                         Macro Nutrients
                     </p>
                     <a class="card-header-icon">
                         <b-icon
                             size='is-small'
                             :icon="props.open ? 'chevron-up' : 'chevron-down'">
                         </b-icon>
                     </a>
                 </div>
             </template>
         <div class="box">
             <div class='content'>
                     Protein
            <strong>
             <span class="">{{ macro['protein']['qty'] }} </span>
             <span class="">{{ macro['protein']['unit']['unit'] }}</span>
            </strong>
            <br/>
             Carbohydrates
                 <strong>
             <span class="">{{ macro['carbohydrate']['qty'] }} </span>
             <span class="">{{ macro['carbohydrate']['unit']['unit'] }}</span>
             </strong>
            <br/>
            Fat
            <strong>
             <span class="">{{ macro['fat']['qty'] }}</span>
             <span class="">{{ macro['fat']['unit']['unit'] }}</span>
             </strong>
            <br/>
         <div v-show="serve['unit']['type'] == 'volume'" v-if="serve['unit']">
         Alcohol
            <strong>
             <span class="">{{ macro['alcohol']['qty'] }}</span>
             <span class="">{{ macro['alcohol']['unit']['unit'] }}</span>
             </strong>
         </div>
         </div>
        </div>
         </b-collapse>
         <b-collapse :open="false" class='card is-child' animation='slide'>
             <template #trigger="props">
                 <div
                     class="card-header"
                     role="button"
                     aria-controls="contentIdForA11y3">
                     <p class="card-header-title">
                         Micro Nutrients
                     </p>
                     <a class="card-header-icon">
                         <b-icon
                             size='is-small'
                             :icon="props.open ? 'chevron-up' : 'chevron-down'">
                         </b-icon>
                     </a>
                 </div>
             </template>
         <div class="box">
             <div class="content">
         <p>Fibre
             <strong>
             {{ micro['fibre']['qty'] }}
             {{ micro['fibre']['unit']['unit'] }}
                 </strong>
                 <br/>
         Sodium
                 <strong>
             {{ micro['sodium']['qty'] }}
             {{ micro['sodium']['unit']['unit'] }}
             </strong>
             <br/>
         Sugar
             <strong>
             {{ micro['sugar']['qty'] }}
             {{ micro['sugar']['unit']['unit'] }}
                 </strong>
         </p>
         </div>
         </div>
         </b-collapse>
        <b-collapse :open="false" class='card is-child' animation='slide'>
            <template #trigger="props">
                <div
                    class="card-header"
                    role="button"
                    aria-controls="contentIdForA11y3">
                    <p class="card-header-title">
                        Misc
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                            size='is-small'
                            :icon="props.open ? 'chevron-up' : 'chevron-down'">
                        </b-icon>
                    </a>
                </div>
            </template>
            <div class="box">
                <div class="content">
                    <p>
                        <span><strong>{{ misc['sFruit']['qty'] }}</strong> Serves of Fruit</span>
                        <br/>
                        <span><strong>{{ misc['sVeg']['qty'] }}</strong> Serves of Veg</span>
                    </p>
             </div>
             </div>
        </b-collapse>
        </div>
        </div>

        <b-field horizontal label="Meal time">
            <b-select v-model='mealTime'>
                <option v-for="m in mealTimes"
                        :key='m'
                        :value='m'
                >{{ m }}</option>
            </b-select>
        </b-field>
        <b-field horizontal label="Date">
            <b-datetimepicker
                icon='calendar-day'
                editable
                :mobileNative=true
                v-model="datetime"
                :timepicker="{ enableSeconds: false }"
                >
            <template #left>
                <b-button
                    label="Now"
                    type="is-primary"
                    icon-left="clock"
                    @click="datetime = new Date()" />
            </template>
            </b-datetimepicker>
        </b-field>
        </div>
        <b-modal
            :active.sync="quickCopyModal"
            ref="quickCopyModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="Copy Nutrition"
            aria-modal
            :can-cancel="['escape','outside']">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Copy Nutrition</p>
                    <button
                        type="button"
                        class="delete"
                        @click="$refs.quickCopyModal.close()"/>
                </header>
                <section class='modal-card-body'>
                    <b-field required label="From" label-position="on-border">
                        <b-datepicker
                            icon='calendar-day'
                            editable
                            :mobileNative=true
                            v-model="copyFromDate"
                        >
                        </b-datepicker>
                    </b-field>
                    <b-field required label="To" label-position="on-border">
                        <b-datepicker
                            icon='calendar-day'
                            editable
                            :mobileNative=true
                            v-model="copyToDate"
                        >
                        </b-datepicker>
                    </b-field>
                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="Cancel"
                        @click="copyFromDate = null; copyToDate = null; $refs.quickAddModal.close()" />
                    <b-button
                        :disabled="copyFromDate == null && copyToDate == null"
                        label="Done"
                        type="is-primary"
                    @click="quickCopy"/>
                </footer>
                </div>
                </b-modal>
        <SubNav>
            <template #left>
               <div class='buttons'>
                   <a class='button is-primary' v-if="input == ''" @click="quickCopyModal = true">Copy</a>
                   <a class='button is-danger' v-if="input != ''" @click="input = ''">Clear</a>
               </div>
            </template>
            <div class='buttons'>
                <a class='button is-primary' @click='save'>Save</a>
            </div>
        </SubNav>
    </section>
    </div>
</template>
<script>
 import nutrition from '@/utils/nutrition.js'
 import notification from '@/utils/notification.js'
 import off from '@/utils/off.js'
 import SubNav from '@/components/SubNav.vue'

 export default {
     components: {
         SubNav
     },
     data() {
         return {
             mealTime: "Anytime",
             quickCopyModal: false,
             copyFromDate: null,
             copyToDate: null,
             input: '',
             data: [],
             isFetching: false,
             selection: null,
             datetime: new Date(),
             addFoodModal: false,
             serveUnits: null,
             serve: {
                 "qty": 1,
                 "unit": nutrition.units.generic[0],
             },
             energyUnits: nutrition.units.energy,
             energy: {
                "qty": 1,
                "unit": null,
             },
             macro: {
                 "protein": {
                     "qty": 0,
                     "unit": nutrition.units.mass[0],
                 },
                "carbohydrate": {
                     "qty": 0,
                     "unit": nutrition.units.mass[0],
                 },
                 "fat": {
                     "qty": 0,
                     "unit": nutrition.units.mass[0],
                 },
                 "alcohol": {
                     "qty": 0,
                     "unit": nutrition.units.mass[0],
                 },
             },
             micro: {
                 "fibre": {
                     "qty": 0,
                     "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                 },
                 "sodium": {
                     "qty": 0,
                     "unit": nutrition.units.mass.filter(u => u.name === "Milligram")[0]
                 },
                 "sugar": {
                     "qty": 0,
                     "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                 }
             },
             misc: {
                 "sFruit": {
                     "qty": 0
                 },
                 "sVeg": {
                     "qty": 0
                 }
             },
             newFood: {
                 "name": null,
                 "brand": null,
                 "serve": [
                     {
                         "qty": null,
                         "unit": null,
                         "energy": {
                            "qty": null,
                            "unit": nutrition.units.energy[0],
                         },
                         macro: {
                             "protein": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                             "carbohydrate": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                             "fat": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                             "alcohol": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                        },
                         micro: {
                             "fibre": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                             },
                             "sodium": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass.filter(u => u.name === "Milligram")[0]
                             },
                             "sugar": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                             }
                         },
                         misc: {
                             "sFruit": {
                                 "qty": 0
                             },
                             "sVeg": {
                                 "qty": 0
                             }
                         }
                     }
                 ],
                 "sizeType": null,
                 "source": null,
             },
         }
     },
     mounted () {
         this.refreshFoods()
     },
     watch: {
         input(val) {
             if (val === '')
                 this.selection = null
         },
         selection(val){
             if (val != null && val.source == 'local') {
                this.serveUnits = nutrition.units.generic.concat(nutrition.units[val.sizeType])
                this.serve = {
                   "qty": 1,
                   "unit": nutrition.units.generic[0],
                }
             }

             if (val != null && val.source == 'OpenFoodFacts') {
                 this.newFood = val
                 this.addFoodModal = true
                 this.selection = null
             }
         },
         serve: {
             deep: true,
             handler(){
                // update energy, macros, micros
                const defaultServe = this.selection.serve[0]

                if (this.serve.unit.type == 'generic') {
                    // can multiply default serve values
                    var serveRatio = this.serve.qty

                } else {
                    var currentQty = nutrition.convertMass(this.serve.qty, this.serve.unit, defaultServe.unit)
                    serveRatio = currentQty / defaultServe.qty
                }

                this.energy.qty = defaultServe.energy.qty * serveRatio
                // TODO: need to check units match
                // or set it to the default energy unit setting
                this.energy.unit = defaultServe.energy.unit

                for (var macro in this.macro) {
                    this.macro[macro].qty = defaultServe.macro[macro].qty * serveRatio
                }

                for (var micro in this.micro ) {
                    if (defaultServe.micro[micro] != null)
                        this.micro[micro].qty = defaultServe.micro[micro].qty * serveRatio
                    else
                        this.micro[micro].qty = 0
                }

                for (var misc in this.misc) {
                    if (defaultServe?.misc && misc in defaultServe.misc)
                        this.misc[misc].qty = defaultServe.misc[misc].qty * serveRatio
                    else
                        this.misc[misc].qty = 0
                }
             }
         },
         energyUnit: {
             handler(newVal, oldVal){
                 if(oldVal)
                    this.energy.qty = nutrition.convertEnergy(this.energy.qty, oldVal, newVal)
             }
         },
     },
     methods: {
         quickAdd(){
             this.input = "Quick Energy"
             this.selection = { "name": "Quick Energy", "sizeType": "mass" }
             this.energy = {
                "qty": 1,
                "unit": nutrition.units.energy[0],
             }
         },
         scanBarcode(){

         },
         quickCopy(){
             let fromFinish = new Date(this.copyFromDate.getFullYear(), this.copyFromDate.getMonth(), this.copyFromDate.getDate(), 23,59,59,999)

             nutrition.getNutritionDate(this.copyFromDate, fromFinish).then((result) => {
                 for (let r of result) {
                    r.datetime = this.copyToDate
                    delete r.id
                    nutrition.recordNutrition({
                        ...r
                    })
                 }
             })
             this.quickCopyModal = false
             notification.nutritionCopied()
         },
         save() {
             nutrition.recordNutrition({
                 "name": this.selection.name,
                 "datetime": this.datetime,
                 "mealTime": this.mealTime,
                 "food": this.selection, // basically a reference to an object in the 'food' store
                 "record": {
                     "serve": this.serve,
                     "energy": this.energy,
                     "macro": this.macro,
                     "micro": this.micro,
                     "misc": this.misc,
                 }
               })
             notification.nutritionSaved(this.selection.name)
             this.input = ''
             this.selection = null
         },
         addFood(){
             this.newFood.sizeType = this.newFood.serve[0].unit.type
             this.newFood.source = "local"
             // TODO: support food categorisation?
             // TODO: should energy always be stored as kJ?
             nutrition.newFood(this.newFood)
             this.refreshFoods()
             this.selection = this.newFood
             this.input = this.selection.name
             this.resetNewFood()
             this.$refs.addFoodModal.close()
         },
         searchOFF(){
             this.isFetching = true
             off.search(this.input).then(data =>{
                 console.log(data)
                 data.products.map(p => {
                     let ratio = parseFloat(p.serving_quantity)/100
                     this.data.push({
                         "name": p.product_name,
                         "brand": this.cleanupBrandString(p.brands),
                         "serve": [
                            {
                                "qty": parseFloat(p.serving_quantity),
                                "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0],
                                "energy": {
                                    "qty": ratio * p.nutriments?.energy_value ?? 0,
                                    "unit": nutrition.units.energy.find(u =>
                                        u.name == p.nutriments.energy_unit
                                        || u.unit == p.nutriments.energy_unit),
                                },
                                macro: {
                                    "protein": {
                                        "qty": ratio * p.nutriments?.proteins_100g ?? 0,
                                        "unit": nutrition.units.mass[0],
                                    },
                                    "carbohydrate": {
                                        "qty": ratio * p.nutriments?.carbohydrates_100g ?? 0,
                                        "unit": nutrition.units.mass[0],
                                    },
                                    "fat": {
                                        "qty": ratio * p.nutriments?.fat_100g ?? 0,
                                        "unit": nutrition.units.mass[0],
                                    },
                                    "alcohol": {
                                        "qty": ratio * p.nutriments?.alcohol_100g ?? 0,
                                        "unit": nutrition.units.mass[0],
                                    },
                                },
                                micro: {
                                    "fibre": {
                                        "qty": 0,
                                        "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                                    },
                                    "sodium": {
                                        "qty": ratio * p.nutriments?.sodium_100g ?? 0,
                                        "unit": nutrition.units.mass.filter(u => u.name === "Milligram")[0]
                                    },
                                    "sugar": {
                                        "qty": 0,
                                        "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                                    }
                                },
                                misc: {
                                    "sFruit": {
                                        "qty": 0
                                    },
                                    "sVeg":{
                                        "qty": 0
                                    }
                                }
                            }
                        ],
                         "sizeType": null,
                         "source": "OpenFoodFacts",
                    })
                 })
             })
                .catch((error) => {
                    //this.data = []
                    throw error
                })
                .finally(()=>{
                   this.isFetching = false
                })
         },
         serveUnitName(name) {
             if (this.serve > 1)
                 return name + "s"
             return name
         },
         cleanupBrandString(brand){
             if (typeof brand === 'undefined')
                 return ''
             return brand.includes(',') ? brand.split(',')[0] : brand
         },
         async refreshFoods(){
            this.data = await nutrition.getFood()
         },
         resetNewFood() {
             this.newFood = {
                 "name": null,
                 "brand": null,
                 "serve": [
                     {
                         "qty": null,
                         "unit": null,
                         "energy": {
                            "qty": null,
                            "unit": nutrition.units.energy[0],
                         },
                         macro: {
                             "protein": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                             "carbohydrate": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                             "fat": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                             "alcohol": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass[0],
                             },
                        },
                         micro: {
                             "fibre": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                             },
                             "sodium": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass.filter(u => u.name === "Milligram")[0]
                             },
                             "sugar": {
                                 "qty": 0,
                                 "unit": nutrition.units.mass.filter(u => u.name === "Gram")[0]
                             }
                         },
                         misc: {
                             "sFruit": {
                                 "qty": 0
                             },
                             "sVeg": {
                                 "qty": 0
                             }
                         }
                     }
                 ],
                 "sizeType": null,
                 "source": null,
             }
         }
     },
     computed: {
         energyUnit() {
             return this.energy.unit
         },
         allSizeUnits() {
             // NOTE: when adding new foods the first serve needs to be of an actual 'size' i.e. not a generic unit
             return nutrition.units.mass.concat(nutrition.units.volume)
         },
         filteredDataObj() {
             return this.data.filter((option) => {
                 return option.name
                        .toString()
                        .toLowerCase()
                        .indexOf(this.input.toLowerCase()) >= 0
             })
         },
         mealTimes () {
             return [
                 "Anytime",
                 "Breakfast",
                 "Morning Snack",
                 "Lunch",
                 "Afternoon Snack",
                 "Dinner",
                 "Evening Snack"
             ]
         }
     }
 }
</script>
