<template>
    <section>
    <div v-if="navBy != 'custom'">
    <h1 class="title is-6">{{ dateToString }}</h1>
    <Nutrition :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Nutrition>
    <hr/>
    <h1 class="title is-6">Week of the {{ wcString }}</h1>
    <NutritionAvg type="detailed" :dateTo="we" :dateFrom="wc"></NutritionAvg>
    </div>
    <div v-else>
    <h1 class="title is-6">Custom Range</h1>
    <h2 class="subtitle is-6">{{ dateFromString }} - {{ dateToString }}</h2>
    <NutritionAvg type="detailed" :dateTo="dateTo" :dateFrom="dateFrom"></NutritionAvg>
    </div>
    </section>
</template>
<script>
 import nutrition from '@/utils/nutrition.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'
 import Nutrition from '../Dashboard/Nutrition.vue'
 import NutritionAvg from '../Dashboard/NutritionAvg.vue'

 export default {
     props: ["navBy"],
     components: {
         Nutrition,
         NutritionAvg
     },
     mixins: [setting, datetimeChild],
     data () {
         return {
            data: null,
            stats: {
                 lastEntry: null,
            }
         }
     },
     methods: {
         async sync () {
             this.data = await nutrition.getNutritionDate(this.from, this.to)
             this.data.sort((a,b) => { return a.finishTime - b.finishTime })
             this.stats.lastEntry = this.data[this.data.length -1]
         },
     },
 }
</script>
