<template>
    <section class='section container'>
        <h1 class="title">
            Nutrition
        </h1>
        <b-tabs v-model='activeTab' position="is-centered" type='is-boxed'>
            <b-tab-item label="Stats">
            <Stats :navBy="navBy" :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Stats>
            </b-tab-item>
            <b-tab-item label="Entries">
            <Entries ref="entries" :mealTime="mealTime" :entryDate="entryDate" :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Entries>
            </b-tab-item>
            <b-tab-item label="Foods">
                <Foods ref="foods"></Foods>
            </b-tab-item>
        </b-tabs>
        <b-modal
            :active.sync="timeModal"
            ref="timeModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="Period"
            aria-modal
            :destroy-on-hide="false"
        >
            <TimeModal :navBy="navBy" :startTime="dateFrom" :finishTime="dateTo" @close="timeModal = false" @update="update" @reset="reset"></TimeModal>
        </b-modal>
        <SubNav :ghost="true">
            <template #left>
            <div class='buttons'>
            <b-button v-if="activeTab < 2" :disabled="navBy == 'custom'" class='button' type='is-primary' icon-left='chevron-left' tag="router-link" :to="{name: 'NutritionDay', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) - 1}}" />
            <b-button v-if="activeTab < 2" :disabled="navBy == 'custom'" class='button' type='is-primary' icon-left='chevron-right' tag="router-link" :to="{name: 'NutritionDay', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) + 1}}"/>
            <b-button v-if="activeTab < 2" class='button' :type="navBy == 'custom' ? 'is-warning' : 'is-primary'" icon-left='history' @click="timeModal = true"/>
            <b-button v-if="activeTab == 1" type="is-danger" icon-left="trash" :disabled="$refs.entries.selectedEntry == null" @click="$refs.entries.onDelete" />
            <b-button v-if="activeTab == 2" type="is-danger" icon-left="trash" :disabled="$refs.foods.selectedEntry == null" @click="$refs.foods.onDelete" />
            <b-dropdown v-if="activeTab == 1" aria-role="menu" position="is-top-right" :close-on-click="false">
            <template #trigger>
            <b-button :type="mealTime != 'Anytime' || entryDate ? 'is-warning' : 'is-primary'" icon-left='filter'/>
            </template>
            <b-dropdown-item>
                <b-field label="Meal time">
                    <b-select v-model='mealTime'>
                        <option v-for="m in mealTimes"
                                :key='m'
                                :value='m'
                        >{{ m }}</option>
                    </b-select>
                </b-field>
            </b-dropdown-item>
            <b-dropdown-item>
                <b-field label="Entry Date">
                    <b-datepicker
                        icon='calendar-day'
                        editable
                        :mobileNative=true
                        v-model="entryDate"
                    >
                        <template #left>
                            <b-button
                                label="Now"
                                type="is-primary"
                                icon-left="clock"
                                @click="entryDate = new Date()" />
                        </template>
                        <template #right>
                            <b-button
                                label="Clear"
                                type="is-danger"
                                icon-left="close"
                                @click="entryDate = null" />
                        </template>
                    </b-datepicker>
                    <b-button
                        type="is-danger"
                        icon-left="trash"
                        :disabled="entryDate == null"
                        @click="entryDate = null" />
                </b-field>
            </b-dropdown-item>
            </b-dropdown>
            </div>
            </template>
            <div class='buttons'>
            <b-button class='button' type='is-primary' tag='router-link' to="/nutrition/record" icon-left='plus' />
            </div>
        </SubNav>
    </section>
</template>
<script>
 import SubNav from '../SubNav.vue'
 import Entries from './Entries.vue'
 import TimeModal from '../TimeModal.vue'
 import { datetimeParent } from '@/mixins/datetimeComponent.js'
 import Stats from './Stats.vue'
 import Foods from './Foods.vue'

 export default {
     name: "Nutrition",
     mixins: [datetimeParent],
     components: {
         SubNav,
         Entries,
         TimeModal,
         Stats,
         Foods
     },
     data () {
         return {
             viewRoute: "Nutrition",
             activeTab: 0,
             timeModal: false,
             mealTime: "Anytime",
             entryDate: null
         }
     },
     methods: {
         update (val) {
             this.dateTo = val.finishTime
             this.dateFrom = val.startTime
             this.navBy = "custom"
             this.timeModal = false
         },
         reset () {
             this.timeModal = false
             this.navBy = "default"
             this.dateTo = new Date()
             this.dateFrom = null
         }
     },
     computed: {
        mealTimes() {
             return [
                 "Anytime",
                 "Breakfast",
                 "Morning Snack",
                 "Lunch",
                 "Afternoon Snack",
                 "Dinner",
                 "Evening Snack"
             ]
         }
     }
 }
</script>
<style>
 .ghost {
     background: rgba(0, 0, 0, .0);
 }
</style>
