<template>
    <div class="container">
    <section class='section'>
        <h1 class="title">Record Weight</h1>
        <b-field label="Weight">
            <b-numberinput
                required
                expanded
                controls-position="compact"
                v-model='result.weight'
                step='0.1'
                min="0" min-step="0.1">
            </b-numberinput>
        </b-field>
        <b-field label="% Body Fat">
            <b-numberinput
                expanded
                controls-position="compact"
                v-model='result.bf'
                max="100"
                min="0"
                step='0.1'
                min-step="0.1">
            </b-numberinput>
        </b-field>
        <b-field label="Date">
            <b-datetimepicker
                icon='calendar-day'
                editable
                :mobileNative=true
                v-model="result.datetime"
                :timepicker="{ enableSeconds: false }"
                :max-datetime="new Date (new Date().getFullYear(), new Date().getMonth(), new Date().getDate() +1)">
            <template #left>
                <b-button
                    label="Now"
                    type="is-primary"
                    icon-left="clock"
                    @click="datetime = new Date()" />
            </template>
            </b-datetimepicker>
        </b-field>
        <SubNav>
            <template #left>
               <div class='buttons'>
                   <a class='button is-danger' v-if="result.weight" @click='clear'>Clear</a>
               </div>
            </template>
            <div class='buttons'>
                <a class='button is-primary' @click='submit'>Save</a>
            </div>
        </SubNav>
    </section>
    </div>
</template>
<script>
 import weight from '@/utils/weight.js'
 import notification from '@/utils/notification.js'
 import SubNav from '@/components/SubNav.vue'
 export default {
     components: {
         SubNav
     },
     data() {
         return {
             result: {
                weight: 0,
                bf: 0,
                datetime: new Date()
             }
         }
     },
     methods: {
         clear() {
             this.result = {
                weight: 0,
                bf: 0,
                datetime: new Date()
             }
         },
         submit() {
             weight.newWeight(this.result)
             notification.weightSaved()
             this.clear()
         }
     }
 }
</script>
