<template>
    <section>
    <div v-if="navBy != 'custom'">
    <h1 class="title is-6">{{ dateToString }}</h1>
    <Weight :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Weight>
    <hr/>
    <h1 class="title is-6">Week of the {{ wcString }}</h1>
    <WeightAvg type="detailed" :dateTo="we" :dateFrom="wc"></WeightAvg>
    <br/>
    <h1 class="title is-6">{{ mcString }}</h1>
    <WeightAvg type="detailed" :dateTo="me" :dateFrom="mc"></WeightAvg>
    </div>
    <div v-else>
    <h1 class="title is-6">Custom Range</h1>
    <h2 class="subtitle is-6">{{ dateFromString }} - {{ dateToString }}</h2>
    <WeightAvg type="detailed" :dateTo="dateTo" :dateFrom="dateFrom"></WeightAvg>
    </div>
    </section>
</template>
<script>
 import weight from '@/utils/weight.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'
 import Weight from '../Dashboard/Weight.vue'
 import WeightAvg from '../Dashboard/WeightAvg.vue'

 export default {
     mixins: [setting, datetimeChild],
     props: ["navBy"],
     components: {
         Weight,
         WeightAvg
     },
     data () {
         return {
            data: null,
            stats: {
                 lastEntry: null,
            }
         }
     },
     methods: {
         async sync () {

             this.data = await weight.getWeightDate(this.from, this.to)
             this.data.sort((a,b) => { return a.finishTime - b.finishTime })
             this.stats.lastEntry = this.data[this.data.length -1]
         },
     },
 }
</script>
