<template>
    <section class='section container'>
        <h1 class="title">
            Weight
        </h1>
        <b-tabs v-model='activeTab' position="is-centered" type='is-boxed'>
            <b-tab-item label="Stats">
                <Stats :navBy="navBy" :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Stats>
            </b-tab-item>
            <b-tab-item label="Entries">
                <Entries ref="entries" :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Entries>
            </b-tab-item>
        </b-tabs>
        <b-modal
            :active.sync="timeModal"
            ref="timeModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="Period"
            aria-modal
            :destroy-on-hide="false"
        >
            <TimeModal :navBy="navBy" :startTime="dateFrom" :finishTime="dateTo" @close="timeModal = false" @update="update" @reset="reset"></TimeModal>
        </b-modal>
        <SubNav :ghost="true">
            <template #left>
            <div class='buttons'>
            <b-button :disabled="navBy == 'custom'" class='button' type='is-primary' icon-left='chevron-left' tag="router-link" :to="{name: 'WeightDay', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) - 1}}"/>
            <b-button :disabled="navBy == 'custom'" class='button' type='is-primary' icon-left='chevron-right' tag="router-link" :to="{name: 'WeightDay', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) + 1}}"/>
            <b-button class='button' :type="navBy == 'custom' ? 'is-warning' : 'is-primary'" icon-left='history' @click="timeModal = true"/>
            <b-button v-if="activeTab == 1" type="is-danger" icon-left="trash" :disabled="$refs.entries.selectedEntry == null" @click="$refs.entries.onDelete" />
            </div>
            </template>
            <div class='buttons'>
            <b-button class='button' type='is-primary' tag='router-link' to="/weight/record" icon-left='plus' />
            </div>
        </SubNav>
    </section>
</template>
<script>
 import SubNav from '../SubNav.vue'
 import TimeModal from '../TimeModal.vue'
 import { datetimeParent } from '@/mixins/datetimeComponent.js'
 import Stats from './Stats.vue'
 import Entries from './Entries.vue'

 export default {
     name: "Weight",
     components: {
         SubNav,
         TimeModal,
         Stats,
         Entries
     },
     mixins: [datetimeParent],
     data () {
         return {
             activeTab: 0,
             viewRoute: "Weight",
             timeModal: false,
         }
     },
     methods: {
         update (val) {
             this.dateTo = val.finishTime
             this.dateFrom = val.startTime
             this.navBy = "custom"
             this.timeModal = false
         },
         reset () {
             this.timeModal = false
             this.navBy = "default"
             this.dateTo = new Date()
             this.dateFrom = null
         }
     }
 }
</script>
<style>
 .ghost {
     background: rgba(0, 0, 0, .0);
 }
</style>
