<template>
    <div class="container">
        <transition name='fade' mode='out-in'>
            <router-view @emission='onEmit' :cxt="state"/>
        </transition>
    </div>
</template>

<script>
 export default {
     name: 'Workout',
     data: function() {
         return {
             state: {
                 cfg: {},
                 summary: {},
             }
         }
     },
     methods: {
         onEmit: function(state) {
             if (typeof state === 'undefined') {
                 // we've arrive here without the requsite state e.g
                 // 1) cancelWorkout() - needs verification
                 console.log('State is undefined, pushing /workout')
                 this.$router.push('/workout')
             } else {
                // valid state takes the form of:
                // {'cfg': {}} or {'summary': {}}
                if ('cfg' in state) {
                    this.state.cfg = state.cfg

                    let selection = state.cfg.selection
                    this.$router.push(selection.type.componentRoute)
                } else if ('summary' in state) {
                    this.state.summary = state.summary
                    this.$router.push('/workout/summary')
                }
            }
         }
     }
 }
</script>
