<template>
    <div>
        <section class='section'>
        <h1 class="title">Workout</h1>

        <b-field label="Select a Workout" v-if="workouts">
            <b-select placeholder="Select a Workout" required v-model='cfg.selection'>
                <optgroup
                    v-for="type in workoutTypes"
                    :value="type"
                    :key="type.id"
                    :label="type.name"
                >
                    <option
                        v-for="workout in workoutOfType(type)"
                        :value="workout"
                        :key="workout.id"
                    >
                        {{ workout.name }}
                    </option>
                </optgroup>
            </b-select>
        </b-field>
        </section>

        <section v-if="cfg.selection" class='section'>
        <b-tabs>
            <b-tab-item label="Workout Overview">
        <b-table
            paginated
            per-page="1"
            focusable
            :pagination-simple=true
            :data="rows"
            :columns="columns"
            :selected.sync="selectedExercise"
        >
        </b-table>
        </b-tab-item>
            <b-tab-item label="Edit Workout" v-if="cfg.selection.type.category == 'resistance'">
                <section v-if="cfg.selection.type.category == 'resistance' " class='field'>
                    <b-field label="Add Warm Up Sets?">
                        <b-switch v-model="cfg.addWarmup">{{ addWarmupString }}</b-switch>
                    </b-field>
                    <b-field label="Relative Intensity of Workout">
                    {{ relativeIntensityWorkout  }}
                    </b-field>
                    <b-field label="Estimated workout length">
                    {{ workoutLengthEstimate }}
                    </b-field>
                </section>
                <section v-if="selectedExercise">
                <hr/>
                <div class="title is-6">
                Edit exercise - {{ selectedExercise.activity.name  }}
                </div>
                <b-field label="Interval">
                <b-numberinput controls-position="compact" min=0 step='15' v-model='exercise.interval'>
                </b-numberinput>
                </b-field>
                <b-field label="Reps">
                <b-numberinput controls-position="compact" min=0 v-model='exercise.reps'>
                </b-numberinput>
                </b-field>
                <b-field label="Weight">
                <b-numberinput controls-position="compact" min=0 min-step='0.1' step='2.5' v-model='exercise.weight'>
                </b-numberinput>
                </b-field>
                <b-field label='Volume'>
                {{ exercise.sets * exercise.reps * exercise.weight }}
                </b-field>
                <b-field label='Relative Intensity of Exercise'>
                    {{ relativeIntensity  }}
                </b-field>
                </section>
            </b-tab-item>
        </b-tabs>
        </section>

        <b-modal
            :active.sync="quickAddModal"
            ref="quickAddModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="Add Workout"
            aria-modal
            :can-cancel="['escape','outside']">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add Workout</p>
                    <button
                        type="button"
                        class="delete"
                        @click="$refs.quickAddModal.close()"/>
                </header>
                <section class='modal-card-body'>
                    <b-field required label="Name" label-position="on-border">
                        <b-input required v-model="data['name']"></b-input>
                    </b-field>
                    <b-field required label="Category" label-position="on-border">
                        <b-select expanded v-model="data['category']">
                            <option v-for='c in categories'
                                    :value='c.category'
                                    :key='c.category'
                            >{{ c.categoryName }}</option>
                        </b-select>
                    </b-field>
                    <b-field required label="Start Time" label-position="on-border">
                        <b-datetimepicker
                            icon='calendar-day'
                            editable
                            :mobileNative=true
                            v-model="data['startTime']"
                            :timepicker="{ enableSeconds: false }"
                        >
                            <template #left>
                                <b-button
                                    label="Now"
                                    type="is-primary"
                                    icon-left="clock"
                                    @click="data['startTime'] = new Date()" />
                            </template>
                        </b-datetimepicker>
                    </b-field>
                    <b-field required label="Finish Time" label-position="on-border">
                        <b-datetimepicker
                            icon='calendar-day'
                            editable
                            :disabled="!data['startTime']"
                            :mobileNative=true
                            v-model="data['finishTime']"
                            :min-datetime="data['startTime']"
                            :timepicker="{ enableSeconds: false }"
                        >
                            <template #left>
                                <b-button
                                    label="Now"
                                    type="is-primary"
                                    icon-left="clock"
                                    @click="data['finishTime'] = new Date()" />
                            </template>
                        </b-datetimepicker>
                    </b-field>
                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="Cancel"
                        @click="$refs.quickAddModal.close()" />
                    <b-button
                        :disabled="data.name == null && data.category == null && data.startTime == null && data.finishTime == null"
                        label="Add"
                        type="is-primary"
                    @click="quickAdd"/>
                </footer>
            </div>
        </b-modal>
        <SubNav>
            <template #left>
            <div class='buttons'>
            <b-button class='button' type='is-primary' icon-left='plus' @click="quickAddModal = true"></b-button>
            </div>
            </template>
            <div class='buttons'>
            <b-button class='button' type='is-primary' icon-left='play' @click="$emit('emission', { 'cfg': cfg })">Start</b-button>
            </div>
        </SubNav>
    </div>
</template>

<script>
 import SubNav from '@/components/SubNav.vue'
 import dataModel from '@/utils/data.js'
 import trainingType from '@/utils/trainingType.js'
 import session from '@/utils/session.js'
 import notification from '@/utils/notification.js'
 import setting from '@/mixins/setting.js'
 import time from '@/utils/time.js'

 export default {
     name: 'Workout',
     components: {
         SubNav
     },
     mixins: [setting],
     data: function() {
         return {
             workoutTypes: dataModel.trainingType.filter(t => t.name != "Generic"),
             workouts: null,
             selectedExercise: null,
             exercise: null,
             quickAddModal: false,
             cfg: {
                addWarmup: null,
                selection: null,
             },
             data: {
                 type: trainingType.type.find(e => { return e.name == "Generic" }).id,
                 category: trainingType.type.find(e => { return e.name == "Generic" }).categories[0].category
             },
             categories: trainingType.type.find(e => { return e.name == "Generic" }).categories
         }
     },
     async mounted () {
         //NOTE: might require cache invalidation logic
         this.workouts = await dataModel.getWorkout()
     },
     methods: {
         workoutOfType: function(type) {
             return this.workouts.filter(w => w.type.id === type.id)
         },
         quickAdd(){
             session.logGenericSession(this.data)
             this.data = {
                 type: trainingType.type.find(e => { return e.name == "Generic" }).id
             }
             this.$refs.quickAddModal.close()
             notification.workoutSaved()
         }
    },
     watch: {
         selection: function () {
             this.selectedExercise = null
             this.cfg.addWarmup = this.setting.addWarmup
         },
         selectedExercise: {
             deep: true,
             handler(){
                if (this.selectedExercise)
                    this.exercise = this.selection.exercises[this.selectedExercise.i][this.selectedExercise.j]
                else
                    this.exercise = null
             }
         },
         quickAddModal(val) {
             if (!val)
                this.data = {
                    type: trainingType.type.find(e => { return e.name == "Generic" }).id
                }
         }
     },
     computed: {
         relativeIntensity: function() {
             if (this.cfg.selection){
                 const restPerRep = this.exercise.interval/this.exercise.reps
                 const maxRestPerRep = 30
                 return ~~((1 - (restPerRep / maxRestPerRep)) * 100)
             } else {
                 return null
             }
         },
         relativeIntensityWorkout: function() {
             const reps = this.selection.exercises.flatMap(e => {
                 return e.flatMap(a => a.sets * a.reps)
             }).reduce((a,c) => { return a + c})
             const rest = this.selection.exercises.flatMap(e => {
                 return e.flatMap(a => a.sets * a.interval)
             }).reduce((a,c) => { return a + c })
             const restPerRep = rest/reps
             const maxRestPerRep = 30
             return ~~((1 - (restPerRep / maxRestPerRep)) * 100)
         },
         workoutLengthEstimate () {
             const rest = this.selection.exercises.flatMap(e => {
                 return e.flatMap(a => a.sets * a.interval)
             }).reduce((a,c) => { return a + c })

             const reps = this.selection.exercises.flatMap(e => {
                 return e.flatMap(a => a.sets * a.reps)
             }).reduce((a,c) => { return a + c})

             const maxRepDur = 10

             return time.timeDelta((rest + (reps * ((this.relativeIntensityWorkout * maxRepDur) / 100))) * 1000)

         },
         addWarmupString: function () {
             return this.cfg.addWarmup ? "Yes" : "No"
         },
         selection: function () {
             return this.cfg.selection
         },
         workoutType: function () {
             return this.selection.type
         },
         columns: function() {
             // used for formatting a table for a workout overview
             return this.workoutType.previewColumns
         },
         rows: function() {
             return this.workoutType.previewRows(this.selection)
         }
     }
 };
</script>
