<template>
    <div>
        <section class='section'>
        <h1 class="title">
            Workout Summary
        </h1>
        <div class='content'>
            Workout: {{ summary.name }}     <br/>
            Duration: {{ workoutDuration }} <br/>
            <div v-if="summary.rounds">
                Number of rounds: {{ summary.rounds }}
            </div>
            <div v-else-if="numberSets">
                Number of sets: {{ numberSets }} <br/>
            </div>
        </div>
        </section>
        <section v-if='numberSets > 0' class='section'>
            <b-table
                v-if='rows && numberSets > 0'
                :data='rows'
                :columns='columns'
            ></b-table>
        </section>
        <SubNav :ghost="true">
            <div class='buttons'>
                <a class='button is-primary' @click="$router.push('/workout')">
                    <b-icon icon='redo' />
                </a>
            </div>
        </SubNav>
        </div>
</template>

<script>
 import SubNav from '@/components/SubNav.vue'
 import time from '@/utils/time.js'
 import trainingType from '@/utils/trainingType.js'

 export default {
     name: 'Workout',
     props: ['cxt'],
     components: {
         SubNav
     },
     data () {
         return {
             summary: this.cxt.summary,
             columns: trainingType.type[this.cxt.summary.type].summaryColumns,
         }
     },
     computed: {
         rows: function() {
             if (typeof trainingType.type[this.cxt.summary.type].summaryRows === "undefined")
                 return null
             return trainingType.type[this.cxt.summary.type].summaryRows(this.cxt.summary.sets)
         },
         workoutDuration: function () {
             let start = this.summary.startTime.getTime()
             let finish = this.summary.finishTime.getTime()
             let duration = finish - start
             return time.timeDelta(duration)
         },
         numberSets: function () {
             if (typeof this.summary.sets === 'undefined')
                 return null
             return this.summary.sets.length
         },
     }
 };
</script>
