<template>
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          :stroke-dasharray="circleDasharray"
          class="base-timer__path-remaining"
          :class="remainingPathColor"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span class="base-timer__label">{{ formattedTimeLeft }}</span>
  </div>
</template>

<script>
import noti from '@/utils/notification.js'

const FULL_DASH_ARRAY = 283 //werid
const WARNING_THRESHOLD = 10
const ALERT_THRESHOLD = 5

const COLOR_CODES = {
  light: {
    color: "light"
  },
  info: {
    color: "green"
  },
  warning: {
    color: "orange",
    threshold: WARNING_THRESHOLD
  },
  alert: {
    color: "red",
    threshold: ALERT_THRESHOLD
  }
};

export default {
     props: {
         'startOnMount': {
             type: Boolean,
             default: true
         },
         'timerLength': {
             type: Number,
             default: 0
         },
         'notificationMessage': {
             type: String
         }
     },
  data() {
    return {
      timeStarted: null,
      timePassed: null,
      timerInterval: null,
    };
  },

  computed: {
    circleDasharray() {
      return `${(this.timeFraction * FULL_DASH_ARRAY).toFixed(0)} 360`;
    },

    formattedTimeLeft() {
      const timeLeft = this.timeLeft;
      let minutes = Math.floor(timeLeft / 60);
      let seconds = timeLeft % 60;

      if (seconds < 10) {
        seconds = `0${seconds}`;
      }

      if (timeLeft <=0) {
          minutes = `0`
          seconds = `00`
      }

      return `${minutes}:${seconds}`;
    },

    timeLeft() {
      return this.timerLength - this.timePassed;
    },

    timeFraction() {
      const rawTimeFraction = this.timeLeft / this.timerLength;
      return rawTimeFraction - (1 / this.timerLength) * (1 - rawTimeFraction);
    },

    remainingPathColor() {
      const { light, alert, warning, info } = COLOR_CODES;

        if (!this.startOnMount){
            return light.color
        } else if (this.timeLeft <= alert.threshold) {
        return alert.color;
      } else if (this.timeLeft <= warning.threshold) {
        return warning.color;
      } else {
        return info.color;
      }
    }
  },

  watch: {
      timePassed() {
        let storedTime = ~~(window.localStorage.getItem('timer')/1000)
        let difference = storedTime - ~~(this.timeStarted/1000)
        if (difference > this.timePassed)
            this.timePassed += (difference - this.timePassed)
      },
    timeLeft(newValue) {
      if (newValue <= 0) {
        this.onTimesUp();
      }
    }
  },

  mounted() {
      if (this.startOnMount)
          this.startTimer()
  },

  methods: {
    onTimesUp() {
      clearInterval(this.timerInterval);
      noti.restComplete(this.notificationMessage)
    },
    startTimer() {
        this.timeStarted = new Date().getTime()
        this.timerInterval = setInterval(() => {
           window.localStorage.setItem('timer', new Date().getTime())
           this.timePassed += 1
          }, 1000);
    }
  },
     beforeDestroy(){
         clearInterval(this.timerInterval)
     }
};
</script>

<style scoped lang="scss">
@import "~bulma/sass/utilities/_all";

.base-timer {
  position: relative;
  width: 250px;
  height: 250px;

  &__svg {
    transform: scaleX(-1);
  }

  &__circle {
    fill: none;
    stroke: none;
  }

  &__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  &__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;

    &.green {
      color: $primary;
    }

    &.orange {
      color: $warning;
    }

    &.red {
      color: $danger;
    }
    &.light {
      color: $grey-light;
    }
  }

  &__label {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
}
</style>
