<template>
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">

        <circle class="base-timer__path-elapsed" cx="150" cy="150" r="140"></circle>
        <path
          :stroke-dasharray="outerCircleDasharray"
          class="base-timer__path-remaining turquoise"
          d="
            M 150, 150
            m -140, 0
            a 55,55 0 1,0 280,0
            a 55,55 0 1,0 -280,0
          "
        ></path>

        <circle class="base-timer__path-elapsed" cx="150" cy="150" r="115"></circle>
        <path
          :stroke-dasharray="middleCircleDasharray"
          class="base-timer__path-remaining"
          :class="pathColor()"
          d="
            M 150, 150
            m -115, 0
            a 45,45 0 1,0 230,0
            a 45,45 0 1,0 -230,0
          "
        ></path>

        <circle class="base-timer__path-elapsed" cx="150" cy="150" r="90"></circle>
        <path
          :stroke-dasharray="innerCircleDasharray"
          class="base-timer__path-remaining"
          :class="pathColor()"
          d="
            M 150, 150
            m -90, 0
            a 35,35 0 1,0 180,0
            a 35,35 0 1,0 -180,0
          "
        ></path>
      </g>
    </svg>
    <span class="base-timer__label">{{ formattedTimeLeft }}<br/>{{ formattedTimeElapsed }}</span>
  </div>
</template>

<script>
import noti from '@/utils/notification.js'

// this value is the length of the circle
// e.g. for a circle with a radius of 45
// length = 2πr = 2 * π * 45 = 282.74
const INNER_DASH_ARRAY = 565;
const MIDDLE_DASH_ARRAY = 722;
const OUTER_DASH_ARRAY = 879;

export default {
  props: [ 'exercises'],
  data() {
    return {
        Interval: null,
        timerLength: null,
        size: 300,
        timeElapsed: 0,
        currentPPO: 0,
        currentRound: 1,
        currentExercise: 0,
        roundStarted: 0,
        intervalStarted: 0,
    }
  },

  mounted() {
      this.timerLength = this.exercises[this.currentExercise].interval
      this.currentPPO = this.exercises[this.currentExercise].ppo

        this.timeStarted = new Date().getTime()
      this.Interval = setInterval(() => {
           window.localStorage.setItem('timer', new Date().getTime())
          this.timeElapsed += 1}, 1000);
  },
  watch: {
      timeElapsed(){
        let storedTime = ~~(window.localStorage.getItem('timer')/1000)
        let difference = storedTime - ~~(this.timeStarted/1000)
        if (difference > this.timeElapsed )
            this.timeElapsed += (difference - this.timeElapsed)
      },
    timeLeft(v) {
        if (v === 0)
            this.timesUp()
    }
  },
  methods: {
    timesUp() {
        this.intervalStarted = this.timeElapsed
        this.currentExercise = (this.currentExercise + 1) % this.exercises.length
        console.log(this.currentExercise)
        this.timerLength = this.exercises[this.currentExercise].interval
        this.currentPPO = this.exercises[this.currentExercise].ppo

        if (this.currentExercise === 0) {
            this.currentRound += 1
            this.roundStarted = this.timeElapsed
        }

        noti.nextInterval()
        this.$emit('complete', {'round': this.currentRound, 'ppo': this.currentPPO })
    },

    pathColor() {
      if (this.currentPPO <= 10) {
        return 'blue';
      } else if (this.currentPPO <= 30) {
        return 'cyan';
      } else if (this.currentPPO  <= 50) {
        return 'yellow';
      } else if (this.currentPPO <= 75) {
          return 'orange';
      } else if (this.currentPPO <= 100) {
          return 'red';
      }
    },
  },
     beforeDestory () {
         clearInterval(this.Interval)
     },
  computed: {

    roundLength() {
        return this.exercises.map((e) => e.interval).reduce((a,b) => a+b)
    },
    formattedTimeElapsed() {
      const timeElapsed = this.timeElapsed;
      const minutes = Math.floor(timeElapsed / 60);
      let seconds = timeElapsed % 60;

      if (seconds < 10) {
        seconds = `0${seconds}`;
      }

      return `${minutes}:${seconds}`;
    },
    formattedTimeLeft() {
      const timeLeft = this.timeLeft;
      const minutes = Math.floor(timeLeft / 60);
      let seconds = timeLeft % 60;

      if (seconds < 10) {
        seconds = `0${seconds}`;
      }

      return `${minutes}:${seconds}`;
    },

    timeLeftRound() {
      return this.roundLength - (this.timeElapsed - this.roundStarted);
    },

    // upper label: interval timer
    timeLeft() {
      return this.timerLength - (this.timeElapsed - this.intervalStarted);
    },

    // inner ring: 60s timer
    timeFraction60() {
      const timerLength = 60
      const timeLeft = timerLength - (this.timeElapsed % timerLength)
      const rawTimeFraction = timeLeft / timerLength;
      return 1 - rawTimeFraction
    },
    innerCircleDasharray() {
      return `${(this.timeFraction60 * INNER_DASH_ARRAY).toFixed(0)} ${INNER_DASH_ARRAY}`;
    },
    // middle ring: round timer
    timeFraction() {
      const rawTimeFraction = this.timeLeftRound / this.roundLength;
      return 1 - rawTimeFraction
    },
    middleCircleDasharray() {
      return `${(this.timeFraction * MIDDLE_DASH_ARRAY).toFixed(0)} ${MIDDLE_DASH_ARRAY}`;
    },
    // outer ring: 30m timer
    timeFraction30() {
      const timerLength = 1800
      const timeLeft = timerLength - (this.timeElapsed % timerLength)
      const rawTimeFraction = timeLeft / timerLength;
      return 1 - rawTimeFraction
    },
    outerCircleDasharray() {
      return `${(this.timeFraction30 * OUTER_DASH_ARRAY).toFixed(0)} ${OUTER_DASH_ARRAY}`;
    },
  },
}
</script>

<style scoped lang="scss">
@import "~bulma/sass/utilities/_all";

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;

  &__svg {
    transform: scaleX(-1);
  }

  &__circle {
    fill: none;
    stroke: none;
  }

  &__path-elapsed {
    stroke-width: 15px;
    stroke: grey;
  }

  &__path-remaining {
    stroke-width: 15px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;

      &.purple {
          color: $purple;
      }
      &.green {
          color: $green;
      }
      &.turquoise {
          color: $turquoise;
      }
      &.blue {
          color: $blue;
      }

      &.cyan {
          color: $cyan;
      }

      &.yellow {
          color: $yellow;
      }

    &.orange {
      color: $orange;
    }

    &.red {
      color: $red;
    }
  }

  &__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    user-select: none;
  }
}
</style>
