<template>
    <div class='scrollsnaparea'>
    <section class="section scrollsnapstart">
        <h1 class="title">
            {{ cxt.cfg.selection.name }}
        </h1>
        <h2 class="subtitle">
        PPO: {{ ppo }}%
        </h2>
        <div class='columns is-centered is-vcentered is-mobile'>
            <div class='column is-narrow has-text-centered'>
            <Watch></Watch>
            </div>
        </div>
    </section>
    <SubNav>
        <template #left>
            <div class='buttons'>
                <a class='button is-danger' @click='cancelWorkout' id="cancelBtn">Cancel</a>
            </div>
        </template>
        <div class='buttons'>
            <a class='button is-primary' @click='finishWorkout' >Finish</a>
        </div>
    </SubNav>
    </div>
</template>

<script>
 import notification from '@/utils/notification.js'
 import session from '@/utils/session.js'
 import Watch from '../Watch.vue'
 import SubNav from '@/components/SubNav.vue'

 export default {
     props: [ 'cxt' ],
     components: {
         Watch,
         SubNav
     },
     data: function() {
         return {
             session: session.startSession(this.cxt.cfg.selection),
             ppo: this.cxt.cfg.selection.exercises[0][0].ppo,
         }
     },
     methods: {
         finishWorkout: function () {
             notification.finishWorkout(() => {
               this.$emit('emission', {'summary': session.finishSession(this.session)})
             })
         },
         cancelWorkout: function () {
             notification.cancelWorkout(() => {
               this.$emit('emission')
             })
         },
     },
 };
</script>
