<template>
    <div class='scrollsnaparea'>
    <section class="section scrollsnapstart">
        <h1 class="title">
            {{ cxt.cfg.selection.name }}
        </h1>
        <h2 class="subtitle">
        Round: {{ round }} | PPO: {{ ppo }}%
        </h2>
        <div class='columns is-centered is-vcentered is-mobile'>
            <div class='column is-narrow has-text-centered'>
            <Timer ref='restTimer' :exercises="intervals" @complete='onTimerComplete'></Timer>
            </div>
        </div>
    </section>

    <section class='section scrollsnapstart'>
        <b-table :sticky-header=true :data="rows" :columns="columns"></b-table>
    </section>

    <SubNav>
        <template #left>
           <div class='buttons'>
               <a class='button is-danger' @click='cancelWorkout' id="cancelBtn">Cancel</a>
           </div>
        </template>
        <div class='buttons'>
            <a class='button is-primary' @click='finishWorkout' >Finish</a>
        </div>
    </SubNav>
    </div>
</template>

<script>
 import notification from '@/utils/notification.js'
 import session from '@/utils/session.js'
 import Timer from '../TimerInterval.vue'
 import SubNav from '@/components/SubNav.vue'

 export default {
     props: [ 'cxt' ],
     components: {
         Timer,
         SubNav
     },
     data: function() {
         return {
             intervals: this.cxt.cfg.selection.exercises[0],
             session: session.startSession(this.cxt.cfg.selection),
             round: 1,
             ppo: this.cxt.cfg.selection.exercises[0][0].ppo,
             rows: this.cxt.cfg.selection.type.previewRows(this.cxt.cfg.selection),
             columns: this.cxt.cfg.selection.type.previewColumns,
         }
     },
     methods: {
         onTimerComplete: function (data) {
             this.round = data.round
             this.ppo = data.ppo
         },
         finishWorkout: function () {
             notification.finishWorkout(() => {
               this.$emit('emission', {'summary': session.finishSession(this.session, this.round)})
             })
         },
         cancelWorkout: function () {
             notification.cancelWorkout(() => {
               this.$emit('emission')
             })
         },
     },
 };
</script>
