<template>
    <div class='scrollsnaparea' v-if='selectedWorkout'>
        <section class='section scrollsnapstart'>
            <h1 class="title">
                {{ selectedWorkout.name }}
            </h1>
            <h2 class="subtitle" >
                {{ currentSet.activityName }} ({{ currentSet.super }}) : {{ currentSet.set }}
            </h2>

            <div class='columns is-centered is-vcentered is-mobile'>
                <div class='column is-narrow has-text-centered' v-on:click="restartTimer()">
                    <Timer ref='restTimer'
                           :key="TimerKey"
                           :startOnMount="startOnMount"
                           :timerLength="TimerLength"
                           :notificationMessage="TimerNotificationMessage"
                    >
                    </Timer>
                </div>
            </div>

            <div class='columns is-centered is-vcentered is-mobile'>
                <div class='column is-narrow has-text-centered'>
                    <b-field :label="repsLabel">
                        <b-numberinput @input="rInput = true" controls-position="compact" min=0
                                       v-model="reps">
                        </b-numberinput>
                    </b-field>

                    <b-field label="Weight">
                        <b-numberinput @input="wInput = true" controls-position="compact" min=0
                                       v-model="weight" min-step='0.1' step='2.5'>
                        </b-numberinput>
                    </b-field>
                </div>
            </div>
        </section>

        <section class='section scrollsnapstart'>
            <b-table
                paginated
                per-page="1"
                :pagination-simple=true
                v-if="sets.length > 0"
                :sticky-header=true :data="sets" :columns="columns">
            </b-table>
        </section>

        <SubNav>
           <template #left>
           <div class='buttons' v-if="nextBtn === 'Next'">
               <a class='button is-danger' @click='stopWorkout' id="stopBtn">Stop</a>
               <a class='button is-warning' @click='cancelWorkout' id="cancelBtn">Cancel</a>
               <b-button class='button' @click='modal = true' icon-left='edit' ></b-button>
           </div> </template>
           <div class='buttons'>
               <a class='button is-primary' @click='nextSet' >{{ nextBtn }}</a>
           </div>
        </SubNav>
        <b-modal
            ref="modal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            aria-label="Modify Workout"
            aria-modal
            :can-cancel="['escape','outside']"
            :active.sync="modal">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modify Workout</p>
                    <button
                        type="button"
                        class="delete"
                        @click="$refs.modal.close()"/>
                </header>
                <section class='modal-card-body'>
                    <div class='buttons'>
                        <a class='button is-fullwidth' @click='skipSet'>Skip Set</a>
                        <a class='button is-fullwidth' @click='skipExercise'>Skip Exercise</a>
                        <a class='button is-fullwidth' @click='deferExercise'>Defer Exercise</a>
                        <a class='button is-fullwidth' @click='selectionModal = true'>Swap Exercise</a>
                    </div>
                </section>
            </div>
        </b-modal>
        <b-modal
            ref="selectionModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            aria-label="Swap Exercise"
            aria-modal
            :can-cancel="['escape']"
            :active.sync="selectionModal">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Swap Exercise</p>
                </header>
                <section class='modal-card-body'>
                    <b-field label="Activity">
                    <b-select placeholder="Select Exercise" v-model="activitySwap">
                        <option
                            v-for="a in activities"
                            :value="a"
                            :key="a.id"
                        >
                            {{ a.name  }}
                        </option>
                    </b-select>
                    </b-field>
                </section>
                <footer class="modal-card-foot">
                                        <b-button
                        label="Cancel"
                        @click="$refs.selectionModal.close()" />
                    <b-button
                        label="Swap"
                        type="is-primary"
                    @click="swapExercise"/>
                </footer>
                </div>
        </b-modal>
    </div>
</template>

<script>
 import notification from '@/utils/notification.js'
 import session from '@/utils/session.js'
 import activity from '@/utils/activity.js'
 import Timer from '../Timer.vue'
 import SubNav from '@/components/SubNav.vue'
 import { v4 as uuidv4 } from 'uuid'

 export default {
     name: "Resistance",
     props: [ 'cxt' ],
     components: {
         Timer,
         SubNav
     },
     data: function() {
         return {
             activities: null,
             activitySwap: null,
             modal: false,
             selectionModal: false,
             session: session.startSession(this.cxt.cfg.selection),
             sets: this.cxt.cfg.selection.type.sets(this.cxt.cfg),
             currentSet: {},
             completedSets: [],
             columns: this.cxt.cfg.selection.type.columns,
             reps: null,
             weight: null,
             TimerLength: null,
             TimerKey: 0,
             TimerNotificationMessage: "Rest timer Up!",
             rInput: false,
             wInput: false,
             startOnMount: false,
         }
     },
     mounted() {
         this.currentSet = this.sets.shift()
         this.reps = this.currentSet.reps
         this.weight = this.currentSet.weight
         this.loadActivities()
     },
     methods: {
         async loadActivities(){
            this.activities = await activity.getActivity()
         },
         skipSet() {
             this.nextSet(false)
             this.$refs.modal.close()
         },
         skipExercise(){
             // skip all sets of x
             let currentActivityId = this.currentSet.activity.id
             this.sets = this.sets.filter(s => s.activity.id != currentActivityId)
             this.nextSet(false)
             this.$refs.modal.close()
         },
         deferExercise() {
             // defer all sets of x until the end of the workout?
             let currentActivityId = this.currentSet.activity.id
             let currentActivitySets = this.sets.filter(s => s.activity.id === currentActivityId)
             currentActivitySets.unshift(this.currentSet)
             this.sets = this.sets.filter(s => s.activity.id != currentActivityId).concat(currentActivitySets)
             this.nextSet(false)
             this.$refs.modal.close()
         },
         swapExercise() {
             // swap all (remaining) sets of x with y
             let currentActivityId = this.currentSet.activity.id
             this.sets.forEach(s => {
                 if (s.activity.id === currentActivityId) {
                     s.activity = this.activitySwap
                     s.activityName = this.activitySwap.name
                 }
             })
             this.currentSet.activity = this.activitySwap
             this.currentSet.activityName = this.activitySwap.name
             this.$refs.selectionModal.close()
             this.$refs.modal.close()
         },
         restartTimer: function() {
             console.log("Restarting timer")
             if (this.currentSet.isDurationSet) {
                 console.log(this.currentSet.reps)
                 this.TimerLength = this.currentSet.reps
                 this.TimerNotificationMessage = "Activity timer Up!"
                this.TimerKey += 1
             }
         },
         finishSet: function() {
             // only log working sets
             if (this.currentSet.isWorkingSet) {
                this.completedSets.push({
                    'id': uuidv4(),
                    'timestamp': new Date(),
                    'activity': this.currentSet.activity,
                    'reps': this.reps,
                    'weight': this.weight,
                    'sessionID': this.session.id
                })
             }
         },
         nextSet: function(recordSet = true) {
             if (this.sets.length !== 0) {
                 if (recordSet)
                    this.finishSet()
                 this.currentSet = this.sets.shift()
                 this.TimerLength = this.currentSet.interval
                 this.TimerNotificationMessage = "Rest timer Up!"
                 this.TimerKey += 1
                 this.reps = this.currentSet.reps
                 this.weight = this.currentSet.weight
                 this.startOnMount = true
             } else {
                 this.finishSet()
                 this.$emit('emission', {'summary': session.finishSession(this.session, this.completedSets)})
             }
         },
         stopWorkout: function () {
             notification.stopWorkout(() => {
               this.finishSet()
               this.$emit('emission', {'summary': session.finishSession(this.session, this.completedSets)})
             })
         },
         cancelWorkout: function () {
             notification.cancelWorkout(() => {
               this.$emit('emission')
             })
         },
     },
     watch: {
         reps (val) {
             if (this.rInput && this.currentSet.isWorkingSet) {
                 this.sets.forEach(s => {
                    if (s.activityName == this.currentSet.activityName)
                            s.reps = val
                 })
                 this.rInput = false
             }
         },
         weight (val) {
             if (this.wInput && this.currentSet.isWorkingSet) {
                 this.sets.forEach(s => {
                    if (s.activityName == this.currentSet.activityName)
                            s.weight = val
                 })
                 this.wInput = false
             }
         },
     },
     computed: {
         repsLabel: function() {
             if (this.currentSet.isDurationSet)
                 return "Duration"
             return "Reps"
         },
         nextBtn: function() {
             if (this.sets.length === 0)
                     return "Finish"
             return "Next"
         },
         selectedWorkout: function() {
             return this.cxt.cfg.selection
         }
     }
 };
</script>
<style>
     .scrollsnaparea {
         scroll-snap-type: mandatory;
         scroll-snap-points-y: repeat(300px);
         scroll-snap-type: y mandatory;
         scroll-snap-stop: always;
     }
     .scrollsnapstart {
         scroll-snap-align: start;
     }
</style>
