<template>
   <section class="section about content has-text-centered">
       <p>
           <strong>FitKit</strong> version: VERSION_STR
           by <a href="https://asdfg.io">Brett Milford</a>.
           FitKit is made with <a href="https://vuejs.org">Vue</a> and <a href="https://buefy.org">Buefy</a>.
           The source code is licensed <a href="https://spdx.org/licenses/Apache-2.0.html">Apache 2.0</a>.
           The website content is licensed <a href="https://spdx.org/licenses/CC0-1.0.html">CC0 v1.0</a>.
       </p>
   </section>
</template>
