<template>
  <div>
    <section class="hero is-primary">
         <div class="hero-body container">
            <div class="block">
            <b-icon icon='dumbbell' size="is-large"></b-icon>
            <h1 class="title">FitKit</h1>
            </div>
            <h2 class="subtitle">Tools for tracking and recording exercise.</h2>
            <b-button @click="$parent.initialised = initApp()" icon-right='play'>Get Started</b-button>
         </div>
      </section>
      <About></About>
    </div>
</template>
<script>
 import init from '@/mixins/init.js'
 const About = () => import(/* webpackChunkName: 'about' */ './About.vue')

 export default {
     name: 'Landing',
     components: {
         About
     },
     mixins: [init]
 }
</script>
