<template>
    <transition name="fade" mode="out-in">
    <b-navbar id="nav" v-if="showNav" type="is-primary" wrapper-class='container statusbar' :shadow="true" :mobile-burger=false :fixed-top="true">
        <template slot="brand">
            <b-navbar-item class='is-tab' tag="router-link" to='/'>
                <b-icon icon='dumbbell' size='is-medium' ></b-icon>
                <span class="is-hidden">Dashboard</span>
            </b-navbar-item>
            <b-navbar-item class='is-tab riiight' href="#" tag='router-link' to='/exercise' >
                <b-icon icon="running" size='is-medium' class='is-mobile'></b-icon>
                <span class="is-hidden-touch">Exercise</span>
            </b-navbar-item>
            <b-navbar-item class='is-tab' href="#" tag='router-link' to='/nutrition' >
                <b-icon icon="carrot" size='is-medium' class='is-mobile'></b-icon>
                <span class="is-hidden-touch">Nurition</span>
            </b-navbar-item>
            <b-navbar-item class='is-tab' href="#" tag='router-link' to='/weight' >
                <b-icon icon="weight" size='is-medium' class='is-mobile'></b-icon>
                <span class="is-hidden-touch">Weight</span>
            </b-navbar-item>
            <b-navbar-item class='is-tab' href="#" tag='router-link' to='/settings'>
                <b-icon icon="cog" size='is-medium' ></b-icon>
                <span class="is-hidden-touch">Settings</span>
            </b-navbar-item>
        </template>
    </b-navbar>
    <div v-else id="nav" class="nav-placeholder navbar is-fixed-top"></div>
    </transition>
</template>

<script>
export default {
     name: "Nav",
     data() {
         return {
             showNav: true,
             observer: null,
         }
     },
     mounted() {
         //NOTE: Heavyweight way to resolve the classing bug with fixed-top
         this.observer = new MutationObserver(mutations => {
             for (const m of mutations) {
                 const newValue = m.target.getAttribute(m.attributeName)
                 this.$nextTick(()=>{
                     this.onClassChange(newValue, m.oldValue)
                 })
             }
         })

         this.observer.observe(document.body, {
             attributes: true,
             attributeOldValue: true,
             attributeFilter: ['class']
         })
     },
     watch: {
         '$route': function (route) {
             if (route.fullPath === '/workout/resistance' || route.fullPath === '/workout/interval' || route.fullPath === '/workout/cardio') {
                  this.showNav = false
             } else {
                 this.showNav = true
             }
         },
     },
     computed: {
         pathYear() {
             const now = new Date()
             return now.getFullYear()
         },
         pathMonth() {
             const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
             const now = new Date()
             return monthNames[now.getMonth()]
         }
     },
     methods: {
         onClassChange(classAttrValue) {
             let classList = classAttrValue.split(' ')
             if (!classList.includes('has-navbar-fixed-top') && this.showNav)
                document.body.classList.add('has-navbar-fixed-top')
             else if (classList.includes('has-havbar-fixed-top'))
                document.body.classList.remove('has-navbar-fixed-top')
         },
     },
     beforeDestroy() {
         this.observer.disconnect()
     }
}
</script>
<style>
 .riiight {
   margin-left: auto;
 }
 .navbar-menu {
     display: none;
 }
 .navbar-brand {
     flex-grow: 1;
 }
 /* iOS webkit viewport-fit=cover statusbar padding */
 #nav {
     padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
 }
 /* has-fixed-top applied to body by buefy so we apply to html */
 html {
     padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
 }
 .nav-placeholder {
     background-color: #7957d5;
     min-height: 0rem;
 }
 /* fix for the iOS webkit fixed bottom bug that occurs
    when the body + fixed bottom is not >= device height
    Also needs to accound for fixed top and fixed bottom (52px each)
 */
 #app {
    min-height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top) - 104px);
 }
</style>
