<template>
    <div>
    <section class='container'>
        <section class='section'>
        <h1 class='title is-4'>Settings</h1>
        <b-field label='Manage your Data' horizontal>
            <b-field grouped group-multiline>
        <b-button @click='exportData' icon-right='download'>Export Data</b-button>
        <b-upload v-model='file' class='file-label'>
            <span class='button'>
                <span>Import Data</span>
                <b-icon class='file-icon' icon='upload' size='is-small' />
            </span>
        </b-upload>
        <b-upload v-if=false v-model='workoutFile' class='file-label'>
            <span class='button'>
                <span>Import Workouts</span>
                <b-icon class='file-icon' icon='upload' size='is-small' />
            </span>
        </b-upload>
        </b-field>
        </b-field>

        <b-field horizontal label='Export Store as TSV' addon>
            <b-field>
            <b-select placeholder="Select a store" v-model='selection'>
                <option
                    v-for="s in stores"
                    :value="s"
                    :key="s"
                >
                    {{ s }}
                </option>
            </b-select>
            <p class='control'>
            <b-button @click='exportStore' icon-left='download' class='button'></b-button>
            </p>
            </b-field>
        </b-field>

        <b-field horizontal label="Week commences day">
            <b-select v-model='setting.weekCommencesDay'>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
            </b-select>
        </b-field>
        <h1 class='title is-5'>Exercise</h1>
        <b-field horizontal label='Target sessions per week'>
            <b-numberinput min=0 :controls="false" v-model='setting.sessionsPerWeek'
                           :icon-right="setting.sessionsPerWeek ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="sessionsPerWeek"></b-numberinput>
            <span></span>
        </b-field>
        <b-field horizontal label='Minutes of Cardio per week'>
            <b-numberinput min=0 :controls="false" v-model='setting.cardioMinutesPerWeek'
                           :icon-right="setting.cardioMinutesPerWeek ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="cardioMinutesPerWeek"></b-numberinput>
            <span></span>
        </b-field>
        <b-field horizontal label="Add Warm Up Sets by default?">
            <b-switch v-model="setting.addWarmup">{{ addWarmupString }}</b-switch>
        </b-field>
        <h1 class='title is-5'>Nutrition</h1>
        <b-field horizontal label="Default Energy Units">
            <div class='block'>
                <b-radio
                    v-for="u in defaultEnergyUnits"
                    :key="u.unit"
                    v-model="setting.defaultEnergyUnit"
                    name="defaultEnergyUnit"
                    :native-value="u">
                {{ u.name }} ({{ u.unit }})
            </b-radio>
            </div>
        </b-field>

        <b-field horizontal label="Energy Budget">
            <div class='block'>
            <b-radio v-model='setting.energyBudgetType'
                name="energyBudgetType"
                native-value="custom">
                Custom
            </b-radio>
            <transition name='slide' mode='out-in'>
                <b-field v-show="setting.energyBudgetType == 'custom'">
                    <b-numberinput min=0 :controls="false" v-model='setting.energyBudgetValue'
                                   :icon-right="setting.energyBudgetValue ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="energyBudgetValue"></b-numberinput>
                <p class='controls'>
                    <span class='button is-static'>{{ setting.defaultEnergyUnit.unit }}</span>
                </p>
                </b-field>
            </transition>
            <b-radio v-model='setting.energyBudgetType'
                name="energyBudgetType"
                native-value="schedule">
                Custom Schedule
            </b-radio>
            <transition-group name='slide' mode='out-in'>
                <div v-for="d in daysOfTheWeek" :key="d" v-show="setting.energyBudgetType == 'schedule'">
                <b-field>
                <p class='controls'>
                    <span class='button is-primary'>{{ d }}</span>
                </p>
                <b-numberinput min=0 :controls="false" v-model='setting.energyBudgetScheduleValue[d]'
                               :icon-right="setting.energyBudgetScheduleValue[d] ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="energyBudgetScheduleValue" :class="d"></b-numberinput>
                <p class='controls'>
                    <span class='button is-static'>{{ setting.defaultEnergyUnit.unit }}</span>
                </p>
                </b-field>
                </div>
            </transition-group>
            </div>
        </b-field>
        <b-field horizontal label="Protein Target">
            <b-field>
                <b-numberinput min=0 v-model='setting.proteinTarget' controls-position='compact'
                               :icon-right="setting.proteinTarget ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="proteinTarget"></b-numberinput>
            </b-field>
        </b-field>
        <b-field horizontal label="Fibre Target">
            <b-field>
                <b-numberinput min=0 v-model='setting.fibreTarget' controls-position='compact'
                               :icon-right="setting.fibreTarget ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="fibreTarget"></b-numberinput>
            </b-field>
        </b-field>
        <h1 class='title is-5'>Weight</h1>
        <b-field horizontal label='Height' message="Required to calculate BMI">
            <b-field>
                <b-numberinput min=0 :controls="false" :required='setting.weightUnit == "BMI"' v-model='setting.height'
                               :icon-right="setting.height ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="height"></b-numberinput>
            <p class='control'>
                <span class='button is-static'>{{ lengthUnit.unit }}</span>
            </p>
            </b-field>
        </b-field>
        <b-field horizontal label='Target Weight'>
            <b-field>
                <b-numberinput min=0 :controls="false" v-model='setting.targetWeight'
                               :icon-right="setting.targetWeight ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="targetWeight"></b-numberinput>
            <b-select v-model='setting.weightUnit'>
                <option
                v-for='w in weightUnits'
                :key="w.unit"
                :value="w"
                >{{ w.unit }}</option>
            </b-select>
            </b-field>
        </b-field>
        <b-field horizontal label='Starting Weight'>
            <b-field>
                <b-numberinput min=0 :controls="false" v-model='setting.initialWeight'
                               :icon-right="setting.initialWeight ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="initialWeight"></b-numberinput>
            <b-select v-model='setting.weightUnit'>
                <option
                v-for='w in weightUnits'
                :key="w.unit"
                :value="w"
                >{{ w.unit }}</option>
            </b-select>
            </b-field>
        </b-field>
        <b-field horizontal label='Target Body Fat'>
            <b-field>
                <b-numberinput min=0 :controls="false" v-model='setting.percentageBodyFat'
                               :icon-right="setting.percentageBodyFat ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="percentageBodyFat"></b-numberinput>
            <p class='controls'>
                <span class='button is-static'>%</span>
            </p>
            </b-field>
        </b-field>
        <b-field horizontal label='Starting Body Fat'>
            <b-field>
                <b-numberinput min=0 :controls="false" v-model='setting.initialPercentageBodyFat'
                               :icon-right="setting.initialPercentageBodyFat ? 'close-circle' : null"
                           icon-right-clickable
                           @click.native="clearField" id="initialPercentageBodyFat"></b-numberinput>
            <p class='controls'>
                <span class='button is-static'>%</span>
            </p>
            </b-field>
        </b-field>
        </section>
    </section>
    <About></About>
    </div>
</template>

<script>
 import store from '@/store'
 import dataModel from '@/utils/data.js'
 import nutrition from '@/utils/nutrition.js'
 const About = () => import(/* webpackChunkName: 'about' */ './About.vue')
 const OBJ_STORE = 'setting'
 import setting from '@/mixins/setting.js'

 export default {
     mixins: [setting],
     data() {
         return {
             file: null,
             workoutFile: null,
             stores: store.priStores,
             selection: null,
         }
     },
     components: {
         About
     },
     mounted () {

     },
     watch: {
         setting: {
             deep: true,
             handler(val) {
                 Object.entries(val)
                 // NOTE: Can't remember why I filtered out null values here.
                 // This filter is preventing me from nulling values already saved to idb.
                 // I think it threw an errors previously, but it is currently working.
                 // eslint-disable-next-line no-unused-vars
                        //.filter(([_, v]) => v != null)
                        .map(([k,v]) => {
                            this.saveSetting(k, v)
                        })
             }
         },
         file: function(val) {
             dataModel.jsonFileImport(val)
         },
         workoutFile: function(val){
             dataModel.jsonWorkoutImport(val)
         }
     },
     methods: {
         async exportData() {
             const dataStr = await dataModel.jsonExport()
             let now = new Date()
             let monthPadded = now.getMonth() < 10 ? `0${now.getMonth()}` : `${now.getMonth()}`
             let datePadded = now.getDate() < 10 ? `0${now.getDate()}` : `${now.getDate()}`
             var nowstring = `${now.getFullYear()}${monthPadded}${datePadded}`
             this.downloadBlob(dataStr, `fitkit_${nowstring}.json`)
         },
         async exportStore(){
             const dataStr = await dataModel.tsvExport(this.selection)
             dataStr.forEach((d,i) => {
                 this.downloadBlob(d, "table" + i + ".tsv")
             })
         },
         downloadBlob(data, name) {
             var downloadAnchorNode = document.createElement('a');
             downloadAnchorNode.setAttribute("href", data);
             downloadAnchorNode.setAttribute("download", name);
             document.body.appendChild(downloadAnchorNode); // required for firefox
             downloadAnchorNode.click();
             downloadAnchorNode.remove();
         },
         async saveSetting(key, value) {
            var KEY = null;
            KEY = await store.db.getKeyFromIndex(OBJ_STORE, "key", IDBKeyRange.only(key))
            store.setStore(OBJ_STORE, {
                "key": key,
                "value": value
            }, KEY)
         },
         clearField(event) {
             let classList = event.target.classList
             if (classList.contains("icon") && classList.contains("is-right") && classList.contains("is-clickable")) {
                 let sibilingId = event.target.previousElementSibling.id
                 if (sibilingId == "energyBudgetScheduleValue") {
                     let parentClassList = event.target.parentElement.parentElement.classList
                     for (let day of this.daysOfTheWeek) {
                         if(parentClassList.contains(day))
                             this.setting[sibilingId][day] = null
                     }
                 } else {
                    this.setting[sibilingId] = null
                 }
             }
         }
     },
     computed: {
         addWarmupString: function () {
             return this.setting.addWarmup ? "Yes" : "No"
         },
         defaultEnergyUnits() {
             return nutrition.units.energy.filter(u => { return u.name == 'Kilojoule' || u.name == 'Kilocalorie'})
         },
         lengthUnit(){
             return nutrition.units.length[0]
         },
         weightUnits() {
             return nutrition.units.mass.filter(u => { return u.name == 'Kilogram' })
         },
         daysOfTheWeek() {
             let day = [
                 "Sunday",
                 "Monday",
                 "Tuesday",
                 "Wednesday",
                 "Thursday",
                 "Friday",
                 "Saturday"
             ]

             if (this.setting.weekCommencesDay == "Monday") {
                 day.shift()
                 day.push('Sunday')
             }
             return day
         }
     }
 }
</script>
