<template>
    <div id='vis'></div>
</template>

<script>
 import * as d3 from "d3"

 export default {
     name: 'Stopwatch',
     props: ['config'],
     data () {
         return {
             interval: null,
             vis: null,
             faceObj: null,
             clockGroup: null,
         }
     },
     computed: {
         size () {
             //TODO: add svg and group to templat and bind the size there
             return this.config.size ? this.config.size : 300
         },
         outerRadius () {
             return 0.8 * this.size/2;
         },
         offSetX () {
             return this.size/2;
         },
         offSetY () {
             return this.size/2;
         },
         romanNumerals: () => {
             return ['I','II','III','IIII','V','VI','VII','VIII','IX','X','XI','XII']
         }
     },
     mounted () {
         this.d3Base()
         this.d3render(this.timeData())
         this.interval = setInterval(() => {
             this.rerender(this.timeData());
         }, 1000);
     },
     beforeDestroy () {
         clearInterval(this.interval)
     },
     methods: {
         d3render: function(data) {
          const face = this.config.face ? this.config.face : 'modern'
          const faceObj = this.faceStyle()[face]
             console.log(faceObj)
           var clockHand = this.clockGroup.selectAll(".clockhand").data(data);
             //draw the hands if not drawn
             console.log("Initial draw")
             //clockHand.remove()
             // faceObj.(function) contain references to this which should be referring to the d3 selection
             // I think this is missing and causing the render to misbehave

             clockHand.enter().append("svg:g");
             clockHand.attr("class", (d) => {
               return "clockhand " + d.unit;
             }).append("svg:rect").attr("x", function(d) {
               faceObj.clockHandx(d).bind(d);
             })
             .attr("y", function(d) {
               return faceObj.clockHandy(d).bind(d);
             })
             .attr("width", function(d) {
               return faceObj.clockHandWidth(d).bind(d);
             })
             .attr("fill", function(d) {
               return faceObj.clockHandFill(d).bind(d);
             })
             .attr("height", function(d) {
               return faceObj.clockHandHeight(d).bind(d);
             })

            //create the circle of the seconds hand
             this.clockGroup.append("svg:circle")
                 .attr("r", this.faceObj.secondsRing.r)
                 .attr("fill", this.faceObj.secondsRing.fill)
                 .attr("class", "clock innercircle");

             //create the circle of the pin that holds in place the seconds hand
             this.clockGroup.append("svg:circle")
                 .attr("r", this.faceObj.secondsInnermostRing.r)
                 .attr("fill", this.faceObj.secondsInnermostRing.fill)
                 .attr("class", "clock innermostcircle");
         },
         rerender: function(data){
           var clockHand = this.clockGroup.selectAll(".clockhand").data(data);
               clockHand.transition()
                      .duration(1000)
                      .ease(this.faceObj.easing)
                        .attr("transform", (d) => {
                            if (d.unit==="hours"){
                                return "rotate(" + d.numeric % 12 * 30 + ")"
                            } else {
                                return "rotate(" + d.numeric * 6 + ")"
                            }
                        })

           this.faceObj.clockHandAdditional(clockHand);
         },
         timeData: function(date) {
             var d
             if (date)
               d = new Date(date)
             else
               d = new Date()

             const formatSecond = d3.timeFormat("%S");
             const formatMinute = d3.timeFormat("%M");
             const formatHour = d3.timeFormat("%H");

             var hourOffset = 0;
             var minOffset = 0;
             var secOffset = 0;

          var setTZHours = function(hr) {
            if (hr !== undefined)
              hourOffset = hr;
          };  var setTZMins = function(min) {
            if (min !== undefined)
              minOffset = min;
          };
          var setTZSeconds = function(sec) {
            if (sec !== undefined)
              secOffset = sec;
          };

          if (this.config.TZOffset != undefined) {
            setTZHours(this.config.TZOffset.hours);
            setTZMins(this.config.TZOffset.mins);
            setTZSeconds(this.config.TZOffset.secs);
          }

             const second = d.getSeconds() + secOffset;
             const minute = d.getMinutes() + minOffset;
             const hour = d.getHours() + hourOffset + minute / 60;

             return [
               {
                 "unit": "hours",
                 "text": formatHour(d),
                 "numeric": hour
               },
               {
                 "unit": "minutes",
                 "text": formatMinute(d),
                 "numeric": minute
               },
               {
                 "unit": "seconds",
                 "text": formatSecond(d),
                 "numeric": second
               }    ]
         },
         d3Base: function() {

             // TODO: move shared vis state into a single ns
             //this.vis = {
             //    el: d3.select("#vis").append("svg:svg").attr("width", this.size).attr("height", this.size).attr("class","clock"),
             //    group: el.append("svg:g").attr("transform", "translate(" + offSetX + "," + offSetY + ")"),
             //    style: faceStyle[face];
             //}

          this.vis = d3.select("#vis").append("svg:svg").attr("width", this.size).attr("height", this.size).attr("class","clock")

          this.clockGroup = this.vis.append("svg:g").attr("transform", "translate(" + this.offSetX + "," + this.offSetY + ")")

          const face = this.config.face ? this.config.face : 'modern'
          this.faceObj = this.faceStyle()[face]

          //create the outer circle of the clock face
          this.clockGroup.append("svg:circle")
              .attr("r", this.faceObj.outerRing.r)
              .attr("fill", "none")
              .attr("class", "clock outercircle")
              .attr("stroke", this.faceObj.outerRing.stroke)
              .attr("stroke-width", this.faceObj.outerRing.strokeWidth);

          this.faceObj.clockGroupAdditional(this.clockGroup);

          //create the minutes and hours ticks
          var tickGroup = this.clockGroup.append("svg:g")
              .selectAll(".tick")
              .data(d3.range(60))
              .enter();

          tickGroup.append("svg:rect")
              .attr("class", "tick")
              .attr("x", 0)
              .attr("y", -this.outerRadius )
              // .attr("width", function(d, i){return (i%5) ? 0 : 1;})
              .attr("width", (d, i) => { return this.faceObj.tickWidth(i) })
              .attr("height", (d, i) => { return this.faceObj.tickHeight(i) })
              .attr("fill", (d, i) => { return this.faceObj.tickFill(i) })
              .attr("transform", (d, i) => {
                return "rotate(" + (i*6) + ")," + this.faceObj.rotationTranslate(i) }
              )

          if (this.faceObj.tickText){
            var radian = (i) => { return 6*i*(Math.PI/180) - (90 * Math.PI/180) }
            tickGroup
                .append("text")
                .attr("class", "tick")
                .attr("x", function(d, i){
                  var xPos = Math.cos(radian(i));
                  var pos = Math.round(100*xPos); //>0, <0, 0
                  if (pos>0){
                    return (this.outerRadius - this.faceObj.tickHeight(i) - this.faceObj.tickText.fontSize )*xPos;
                  } else if (pos<0) {
                    return (this.outerRadius - this.faceObj.tickText.fontSize/1.2 )*xPos;
                  } else {
                    return -this.faceObj.tickText.fontSize*(''+this.faceObj.tickText.fn(i)).length/2 + (''+this.faceObj.tickText.fn(i)).length * this.faceObj.tickText.fontSize/5  ;
                  }
                })
                .attr("y", function(d, i){
                  var yPos = Math.sin(radian(i));
                  var pos = Math.round(100*yPos);
                  if (pos>0){
                    return (this.outerRadius - this.faceObj.tickText.fontSize )*yPos;
                  } else if (pos<0) {
                    return (this.outerRadius - this.faceObj.tickHeight(i) - this.faceObj.tickText.fontSize )*yPos;
                  } else {
                    return this.faceObj.tickText.fontSize/3  ;
                  }
                })

                .attr("font-family", this.faceObj.tickText.fontFamily)
                .attr("font-size", this.faceObj.tickText.fontSize)
                .text(function(d, i){ return this.faceObj.tickText.fn(i) })
          }

          if (this.faceObj.tickTextRotated)
            tickGroup
                .append("text")
                .attr("class", "tick")
                .attr("x", function(i) {return this.faceObj.tickTextX(i);})
                .attr("y", function(i) {return -this.outerRadius + this.faceObj.tickHeight(i)*2.5;})
                .attr("font-family", this.faceObj.tickTextRotated.fontFamily)
                .attr("font-size", this.faceObj.tickTextRotated.fontSize)
                .text( function(d, i) { return this.faceObj.tickTextRotated.fn(i) })
                .attr("transform", function(d, i){
                    return "rotate("+(i*6)+"),"+this.faceObj.rotationTranslate(i)
                })
         },
         faceStyle: function() {
          //var pi = Math.PI;
          //var scaleSecsMins = d3.scale.linear().domain([0, 59 + 59 / 60]).range([0, 2 * pi]);
          //var scaleHours = d3.scale.linear().domain([0, 11 + 59 / 60]).range([0, 2 * pi]);
          //clock faces configuration
          return {
              'sbb':{
                  outerRing: {r:this.outerRadius * 1.05, stroke: 'black', strokeWidth: 2},
                  secondsRing: {r:this.outerRadius * 0, fill: 'black'},
                  secondsInnermostRing: {r:this.outerRadius * 0, fill: 'black'},
                  tickUnit: this.outerRadius * 0.0625/3,
                  tickWidth: function(i) {
                    return (i%5) ? this.tickUnit : this.tickUnit*3;
                  },
                  tickHeight: function(i) {
                    return (i%5) ? this.tickUnit*3  : this.tickUnit*3*3;
                  },
                  tickFill: function() {
                    return 'black';
                  },
                  rotationTranslate: function(i) {
                    return "translate("+ (-this.tickWidth(i)/2) +",0)";
                  },
                  clockHandx: function(d) {
                    if (d.unit==="hours"){
                      return -this.tickUnit*3*2/2;
                    } else if (d.unit==="minutes"){
                      return -this.tickUnit*3*1.5/2;
                    } else if (d.unit==="seconds") {
                      return -this.tickUnit/2;
                    }
                  },
                  clockHandy: function(d) {
                    if (d.unit==="hours"){
                      return -this.outerRadius + this.tickUnit*3*3 + this.tickUnit*4;
                    } else if (d.unit==="minutes"){
                      return -this.outerRadius + this.tickUnit*3;
                    } else if (d.unit==="seconds") {
                      return -this.outerRadius + this.tickUnit*3*3 + this.tickUnit*4;
                    }
                  },
                  clockHandWidth: function(d) {
                    if (d.unit === "hours") {
                      return this.tickUnit*3*2;
                    } else if (d.unit === "minutes") {
                      return this.tickUnit*3*1.5;
                    } else if (d.unit === "seconds") {
                      return this.tickUnit;
                    }
                  },
                  clockHandFill: function(d){
                    if (d.unit==="seconds"){
                      return "#e00";
                    } else {
                      return "#333";
                    }
                  },
                  clockHandHeight: function(d){
                    if (d.unit === "hours") {
                      return (this.outerRadius - this.tickUnit*3 * 3) * 1.2;
                    } else if (d.unit === "minutes") {
                      return this.outerRadius* 1.2;
                    } else if (d.unit === "seconds") {
                      return (this.outerRadius - this.tickUnit*3 * 3) * 1.2;
                    }
                  },
                  clockHandAdditional: function(clockHand){
                    var that = this;
                    clockHand.append("svg:circle").attr("r", function(d){
                      if (d.unit==="hours"){
                        return 0;
                      } else if (d.unit==="minutes"){
                        return 0;
                      } else if (d.unit==="seconds") {
                        return that.tickUnit * 4;
                      }
                    })
                    .attr('cy', function() {
                      return -this.outerRadius + that.tickUnit*3*3 + that.tickUnit*4
                    })
                    .attr("fill", "#e00");

                  },
                  clockGroupAdditional: function() {
                    return true;
                  },
                  easing: d3.easeLinear
              },
              'modern':{
                  outerRing: {r:this.outerRadius * 1, stroke: '#999', strokeWidth: 1},
                  secondsRing: {r:this.outerRadius * 0.05, fill: 'black'},
                  secondsInnermostRing: {r:this.outerRadius * 0.05/2, fill: 'black'},
                  tickUnit: this.outerRadius * 0.0625/3,
                  tickWidth: function(i) {
                    return (i%5) ? 0 : this.tickUnit;
                  },
                  tickHeight: function(i) {
                    return (i%5) ? this.tickUnit  : this.tickUnit*3*2;
                  },
                  tickFill: function() {
                    return 'black';
                  },
                  rotationTranslate: function(i) {
                    return "translate("+ (-this.tickWidth(i)/2) +",0)";
                  },
                  clockHandWidth: function(d) {
                    if (d.unit === "hours") {
                      return this.tickUnit*3;
                    } else if (d.unit === "minutes") {
                      return this.tickUnit*2;
                    } else if (d.unit === "seconds") {
                      return this.tickUnit;
                    }
                  },
                  clockHandHeight: function(d){
                    if (d.unit === "hours") {
                      return this.outerRadius - this.outerRadius/3 - this.secondsRing.r*3;
                    } else if (d.unit === "minutes") {
                      return this.outerRadius - (this.secondsRing.r*3 + this.tickUnit*4);
                    } else if (d.unit === "seconds") {
                      return (this.outerRadius -  (this.secondsRing.r*3 + this.tickUnit*4));
                    }
                  },
                  clockHandx: function(d) {
                    if (d.unit==="hours"){
                      return -this.tickUnit*3/2;
                    } else if (d.unit==="minutes"){
                      return -this.tickUnit*2/2;
                    } else if (d.unit==="seconds") {
                      return -this.tickUnit/2;
                    }
                  },
                  clockHandy: function(d) {
                    if (d.unit==="hours"){
                      return -this.outerRadius + this.outerRadius/3 + this.secondsRing.r*3;
                    } else if (d.unit==="minutes"){
                      return -this.outerRadius + this.secondsRing.r*3 + this.tickUnit*4;
                    } else if (d.unit==="seconds") {
                      return -this.outerRadius + this.secondsRing.r*2 + this.tickUnit*4;
                    }
                  },
                  clockHandFill: function(d){
                    if (d.unit==="seconds"){
                      return "red";
                    } else {
                      return "#333";
                    }
                  },
                  clockHandAdditional: function(){
                    return true;
                  },
                  clockGroupAdditional: function() {
                    return true;
                  },
                  easing: d3.easeExp

              },
              'braun':{
                  outerRing: {r:this.outerRadius * 1.02, stroke: '#999', strokeWidth: 1},
                  secondsRing: {r:this.outerRadius * 0.04, fill: '#F6C52E'},
                  secondsInnermostRing: {r:this.outerRadius * 0.05/5, fill: 'black'},
                  tickUnit: this.outerRadius * 0.0625/3,
                  tickWidth: function(i) {
                    return (i%5) ? this.tickUnit/3 : this.tickUnit;
                  },
                  tickHeight: function(i) {
                    return (i%5) ? this.tickUnit*3*1.5  : this.tickUnit*3*1.5;
                  },
                  tickFill: function(i) {
                    return (i%5) ? '#999' : 'black';
                  },
                  tickText: {
                    fontSize: (this.size * 14 / 500),
                    fontFamily:'Helvetica, Arial, sans-serif',
                    fn: function(i){
                      return ((i%5) ? '' : (i/5 > 0) ? i/5: 12);
                    }
                  },
                  rotationTranslate: function(i) {
                    return "translate("+ (-this.tickWidth(i)/2) +",0)";
                  },
                  clockHandWidth: function(d) {
                    if (d.unit === "hours") {
                      return this.tickUnit*3;
                    } else if (d.unit === "minutes") {
                      return this.tickUnit*2;
                    } else if (d.unit === "seconds") {
                      return this.tickUnit;
                    }
                  },
                  clockHandHeight: function(d){
                    if (d.unit === "hours") {
                      return this.outerRadius - this.outerRadius/3 - this.secondsRing.r*3;
                    } else if (d.unit === "minutes") {
                      return this.outerRadius - (this.secondsRing.r*3 + this.tickUnit*4);
                    } else if (d.unit === "seconds") {
                      return (this.outerRadius - this.tickUnit*4);
                    }
                  },
                  clockHandx: function(d) {
                    if (d.unit==="hours"){
                      return -this.tickUnit*3/2;
                    } else if (d.unit==="minutes"){
                      return -this.tickUnit*2/2;
                    } else if (d.unit==="seconds") {
                      return -this.tickUnit/2;
                    }
                  },
                  clockHandy: function(d) {
                    if (d.unit==="hours"){
                      return -this.outerRadius + this.outerRadius/3 + this.secondsRing.r*3;
                    } else if (d.unit==="minutes"){
                      return -this.outerRadius + this.secondsRing.r*3 + this.tickUnit*4;
                    } else if (d.unit==="seconds") {
                      return -this.outerRadius + this.secondsRing.r*3 + this.tickUnit*4 ;
                    }
                  },
                  clockHandFill: function(d){
                    if (d.unit==="seconds"){
                      return "#F6C52E";
                    } else if (d.unit==="minutes") {
                      return "#333";
                    } else {
                      return "#666";
                    }
                  },
                  clockHandAdditional: function(){
                    return true;
                  },
                  clockGroupAdditional: function() {
                    return true;
                  },
                  easing: d3.easeCircle

              },
              'classic':{
                  outerRing: {r:this.outerRadius * 1, fill: 'black', stroke: '#000', strokeWidth: 1},
                  secondsRing: {r:this.outerRadius * 0.04, fill: 'black'},
                  secondsInnermostRing: {r:this.outerRadius * 0.05/5, fill: 'black'},
                  tickUnit: this.outerRadius * 0.0625/3,
                  tickWidth: function(i) {
                    return (i%5) ? this.tickUnit/3 : this.tickUnit*3;
                  },
                  tickHeight: function(i) {
                    return (i%5) ? this.tickUnit*3*1.5  : this.tickUnit*3*1.5;
                  },
                  tickFill: function(i) {
                    return (i%5) ? '#999' : 'black';
                  },
                  tickTextRotated: {
                    fontSize: (this.size * 14 / 500),
                    fontFamily:'Georgia, serif',
                    fn: function(i){
                      return ((i%5) ? '' : (i/5 > 0) ? this.romanNumerals()[i/5 - 1]: this.romanNumerals()[12-1]);
                    }
                  },
                  tickTextX: function(i){
                    if (this.tickTextRotated.fn(i).length>1) {
                      return -this.tickTextRotated.fontSize + 1.5*this.tickTextRotated.fontSize/this.tickTextRotated.fn(i).length;
                    } else {
                      return 0;
                    }
                  },
                  rotationTranslate: function(i) {
                    return "translate("+ (-this.tickWidth(i)/2) +",0)";
                  },
                  clockHandWidth: function(d) {
                    if (d.unit === "hours") {
                      return this.tickUnit*2;
                    } else if (d.unit === "minutes") {
                      return this.tickUnit*2;
                    } else if (d.unit === "seconds") {
                      return this.tickUnit/2;
                    }
                  },
                  clockHandHeight: function(d){
                    if (d.unit === "hours") {
                      return this.outerRadius - this.outerRadius/3 - this.secondsRing.r*3;
                    } else if (d.unit === "minutes") {
                      return this.outerRadius - (this.secondsRing.r*3 + this.tickUnit*4);
                    } else if (d.unit === "seconds") {
                      return (this.outerRadius - this.tickUnit*4);
                    }
                  },
                  clockHandx: function(d) {
                    if (d.unit==="hours"){
                      return -this.tickUnit*3/2;
                    } else if (d.unit==="minutes"){
                      return -this.tickUnit*2/2;
                    } else if (d.unit==="seconds") {
                      return -this.tickUnit/2;
                    }
                  },
                  clockHandy: function(d) {
                    if (d.unit==="hours"){
                      return -this.outerRadius + this.outerRadius/3 + this.secondsRing.r*3;
                    } else if (d.unit==="minutes"){
                      return -this.outerRadius + this.secondsRing.r*3 + this.tickUnit*4;
                    } else if (d.unit==="seconds") {
                      return -this.outerRadius + this.secondsRing.r*3 + this.tickUnit*4 ;
                    }
                  },
                  clockHandFill: function(d){
                    if (d.unit==="seconds"){
                      return "black";
                    } else if (d.unit==="minutes") {
                      return "black";
                    } else {
                      return "black";
                    }
                  },
                  clockHandAdditional: function(){
                    return true;
                  },
                  clockGroupAdditional: function(clockGroup) {
                    clockGroup.append("svg:circle")
                      .attr('r', this.outerRing.r - this.tickUnit*4)
                      .attr("fill", "none")
                      .attr("stroke", "#000").attr("stroke-width","1px");

                  },
                  easing: d3.easeExp
              }
          }
        }
     }
 }
</script>
