<template>
  <div>
  <b-navbar id="subNav" wrapper-class='container' :mobile-burger=false :fixed-bottom="true" :type="type" :transparent="transparent" :shadow="shadow">
      <template slot='brand'>
          <b-navbar-item>
            <slot name="left"></slot>
          </b-navbar-item>
          <b-navbar-item class='riiight'>
            <slot></slot>
          </b-navbar-item>
      </template> </b-navbar>
  <div v-if="!ghost" class="nav-bottom-placeholder"></div>
  </div>
</template>
<script>
 export default {
     name: "SubNav",
     props: {
         ghost: {
             type: Boolean,
             default: false
         }
     },
     data () {
         return {
             transparent: false,
             shadow: true,
             type: "is-light"
         }
     },
     mounted () {
         if (this.ghost) {
             this.transparent = true
             this.shadow = false
             this.type = ""
             //NOTE: Adding the gost class does not work consistently
             // document.getElementById("subNav").classList.add("ghost")
             // console.log(document.getElementById("subNav"))
         }
     }
 }
</script>
<style lang="scss">
 @import "~bulma/sass/utilities/_all";

 .riiight {
   margin-left: auto;
 }

 .is-transparent {
     background: rgba(0, 0, 0, .0);
 }

 .navbar.is-fixed-bottom {
     bottom: env(safe-area-inset-bottom);
 }
 .nav-bottom-placeholder {
     bottom: 0;
     height: env(safe-area-inset-bottom);
     width: 100vw;
     background-color: $light;
     position: fixed;
 }
</style>
