<template>
    <form action="">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Period</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class='modal-card-body'>
                <b-field required label="From" label-position="on-border">
                    <b-datepicker
                        icon='calendar-day'
                        editable
                        :mobileNative=true
                        v-model="data.startTime"
                    >
                        <template #left>
                            <b-button
                                label="Now"
                                type="is-primary"
                                icon-left="clock"
                                @click="data.startTime = new Date()" />
                        </template>
                    </b-datepicker>
                </b-field>
                <b-field required label="To" label-position="on-border">
                    <b-datepicker
                        icon='calendar-day'
                        editable
                        :disabled="!data.startTime"
                        :mobileNative=true
                        v-model="data.finishTime"
                    >
                        <template #left>
                            <b-button
                                label="Now"
                                type="is-primary"
                                icon-left="clock"
                                @click="data.finishTime = new Date()" />
                        </template>
                    </b-datepicker>
                </b-field>
            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="Cancel"
                    @click="$emit('close')" />
                <b-button
                    label="Reset"
                    type="is-warning"
                    :disabled="navBy != 'custom'"
                    @click="$emit('reset')" />
                <b-button
                    label="Update"
                    type="is-primary"
                    :disabled="!data.startTime && !data.finishTime"
                    @click="$emit('update', data)"
                />
            </footer>
        </div>
    </form>
</template>

<script>
 export default {
     props: ['startTime','finishTime','navBy','canCancel'],
     data () {
         return {
             data: {
                 startTime: this.startTime,
                 finishTime: this.finishTime
             }
         }
     }

 }
</script>
