<template>
    <section>
    <b-table
        paginated
        pagination-simple
        focusable
        per-page=5
        v-if="data.length > 0"
        :data="data"
        :columns="allColumns"
        :selected.sync="selectedEntry"
    >
    </b-table>
    <b-modal
        ref="editModal"
        has-modal-card
        trap-focus
        aria-role="dialog"
        arial-label="Period"
        aria-modal
        :destroy-on-hide="false"
    >
        <EditModal v-bind="selectedEntry" @close="selectedEntry = null" @delete="onDelete"></EditModal>
    </b-modal>
    </section>
</template>
<script>
 import session from '@/utils/session.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'
 import EditModal from './EditModal.vue'

 export default {
     components: {
         EditModal
     },
     mixins: [setting,datetimeChild],
     data () {
         return {
            data: [],
            selectedEntry: null,
         }
     },
     methods: {
         async sync () {
             await this.settingSync()

             this.data = await session.getSessionDate(this.from, this.to)
             this.data.sort((a,b) => { return a.datetime - b.datetime })
         },
         async onDelete() {
             session.deleteSession(this.selectedEntry.id)
             await this.sync()
             this.selectedEntry = null
         }
     },
     computed: {
         entrySelected () {
             if (this.selectedEntry)
                 return true
             else
                 return false
         },
         allColumns() {
             return [
                 { field: "name", label: "Name" },
                 { field: "finishTime", label: "Date"}
             ]
         },
     }
 }
</script>
