<template>
    <form action="">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">New Activity</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class='modal-card-body'>
                <b-field label='Name' label-position='on-border'>
                    <b-input v-model="data.name" required></b-input>
                </b-field>
                <b-field>
                    <b-checkbox v-model="data.durationActivity">Duration Activity?</b-checkbox>
                </b-field>
                <b-field label='Body Area' label-position='on-border'>
                    <b-select v-model="data.bodyArea">
                        <option
                            v-for='a in bodyArea'
                            :key="a"
                            :value="a"
                        >{{ a }}</option>
                    </b-select>
                </b-field>
            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="Cancel"
                    @click="$emit('close')" />
                <b-button
                    :disabled="!data.name"
                    label="Save"
                    type="is-primary"
                    @click="$emit('save', data)"
                />
            </footer>
        </div>
    </form>
</template>

<script>
 export default {
     props: ['canCancel'],
     data () {
         return {
             data: {
                 name: null,
                 durationActivity: false,
                 bodyArea: null,
             }
         }
     },
     computed: {
         bodyArea () {
             return [
                 "Abs",
                 "Back",
                 "LowerBack",
                 "Biceps",
                 "Triceps",
                 "Chest",
                 "Forearms",
                 "FullBody",
                 "Legs",
                 "Shoulders"
             ]
         }
     }
 }
</script>
