<template>
    <form action="">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">New Workout</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class='modal-card-body'>
                <b-field label='Name' label-position='on-border'>
                    <b-input v-model="data.name" required></b-input>
                </b-field>
                <b-field label='Type' label-position='on-border'>
                    <b-select v-model="data.type">
                        <option
                            v-for='t in types'
                            :key="t.id"
                            :value="t"
                        >{{ t.name }}</option>
                    </b-select>
                </b-field>
                <b-collapse :open="collapse">
                <div v-if="data.type && data.type.category == 'resistance'">
                <hr/>
                    <b-field label="Activity" label-position='on-border' horizontal>
                    <b-select v-model='exercise.activity'>
                        <option
                            v-for='a in activities'
                            :key='a.id'
                            :value='a'
                        >{{ a.name }}
                        </option>
                    </b-select>
                    </b-field>
                    <b-collapse :open="collapseActivity">
                    <b-field :label="repsLabel" label-position='on-border' horizontal>
                    <b-numberinput v-model="exercise.reps" controls-position="compact" min=0 required></b-numberinput>
                    <span></span>
                    </b-field>
                    <b-field label="Sets" label-position='on-border' horizontal>
                    <b-numberinput v-model="exercise.sets" controls-position="compact" min=0 required></b-numberinput>
                    <span></span>
                    </b-field>
                    <b-field label="Weight" label-position='on-border' horizontal>
                    <b-numberinput v-model="exercise.weight" controls-position="compact" min=0 min-step='0.1' step='2.5'></b-numberinput>
                    <span></span>
                    </b-field>
                    <b-field label="Super" label-position='on-border' horizontal grouped>
                    <b-select v-model='exercise.super' required>
                        <option v-for="s in superSets" :key="s" :value="s">{{ s }}</option>
                    </b-select>
                    </b-field>
                    <b-field position="is-right">
                    <b-button @click='addExercise' icon='plus' type="is-primary">Add Exercise</b-button>
                    </b-field>
                    </b-collapse>
                </div>
                <div v-else-if="data.type && data.type.category == 'cardio'">
                </div>

                <div v-show='data.exercises.length > 0'>
                <hr/>
                <b-table
                    v-if='data.exercises.length > 0'
                    paginated
                    per-page="1"
                    focusable
                    :pagination-simple=true
                    :data="rows"
                    :columns="columns"
                >
                </b-table>
                </div>
                </b-collapse>
            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="Cancel"
                    @click="$emit('close')" />
                <b-button
                    :disabled="!data.name"
                    label="Save"
                    type="is-primary"
                    @click="$emit('save',data)"
                />
            </footer>
        </div>
    </form>
</template>

<script>
 import trainingType from '@/utils/trainingType.js'
 import activity from '@/utils/activity.js'

 export default {
     props: ['canCancel'],
     data () {
         return {
             activities: null,
             types: trainingType.type.filter(t => t.name != "Generic").filter(t => t.category != "cardio"),
             exercise: {
                 activity: null,
                 sets: 0,
                 reps: 0,
                 weight: 0,
                 super: 0
             },
             data: {
                 name: null,
                 type: null,
                 exercises: [],
             }
         }
     },
     async mounted () {
         this.activities = await activity.getActivity()
         // possibly add new activity modal link here
     },
     methods: {
         addExercise() {
             let superSet = this.exercise.super
             delete this.exercise.super
             if (this.data.exercises?.length < superSet + 1)
                 this.data.exercises.push([this.exercise])
             else
                this.data.exercises[superSet].push(this.exercise)
             this.exercise = {
                 activity: null,
                 sets: 0,
                 reps: 0,
                 weight: 0
             }
             this.exercise.super = superSet
         },
     },
     computed: {
         workoutType: function () {
             return this.data.type
         },
         rows: function() {
             return this.workoutType.previewRows(this.data)
         },
         columns: function() {
             return this.workoutType.previewColumns
         },
         collapse: function() {
             if (this.data.type)
                 return true
             else
                 return false
         },
         collapseActivity: function() {
             if (this.exercise.activity?.id)
                 return true
             else
                 return false
         },
         superSets () {
             let length = (this.data.exercises?.length ?? 0) + 1
             return [...Array(length).keys()]
         },
        repsLabel: function() {
             if (this.exercise.activity?.durationActivity)
                 return "Duration"
             return "Reps"
         },
     }
 }
</script>
