<template>
    <section>
    <div v-if="navBy != 'custom'">
    <h1 class="title is-6">Last Session</h1>
    <ExerciseLast :dateTo="we" :dateFrom="wc"></ExerciseLast>
    <hr/>
    <h1 class="title is-6">Week of the {{ wcString }}</h1>
    <Exercise type="detailed" :dateTo="we" :dateFrom="wc"></Exercise>
    <hr/>
    <h1 class="title is-6">{{ mcString }}</h1>
    <Exercise type="detailed" :dateTo="me" :dateFrom="mc"></Exercise>
    </div>
    <div v-else>
        <h1 class="title is-6">Custom Range</h1>
        <h2 class="subtitle is-6">{{ dateFromString }} - {{ dateToString }}</h2>
    <Exercise type="detailed" :dateTo="dateTo" :dateFrom="dateFrom"></Exercise>
    </div>
    </section>
</template>
<script>
 import { datetimeChild } from '@/mixins/datetimeComponent.js'
 import Exercise from '../Dashboard/Exercise.vue'
 import ExerciseLast from '../Dashboard/ExerciseLast.vue'

 export default {
     props: ["navBy"],
     components: {
         Exercise,
         ExerciseLast
     },
     mixins: [datetimeChild],
     methods: {
         sync () {

         }
     }
 }
</script>
