
<template>
    <section class='section container'>
        <h1 class="title">
            Exercise
        </h1>
        <b-tabs v-model='activeTab' position="is-centered" type='is-boxed'>
            <b-tab-item label="Stats">
                <Stats :navBy="navBy" :dateTo="dateTo" :dateFrom="dateFrom"></Stats>
            </b-tab-item>

            <b-tab-item label="Entries">
            <Entries ref="entries" :dateTo="dateTo ? dateTo : new Date()" :dateFrom="dateFrom"></Entries>
            </b-tab-item>

            <b-tab-item label="Activities">
                <Activity ref='activity'></Activity>
            </b-tab-item>

            <b-tab-item label="Workouts">
                <Workout ref='workout'></Workout>
            </b-tab-item>

        </b-tabs>
        <b-modal
            :active.sync="timeModal"
            ref="timeModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="Period"
            aria-modal
            :destroy-on-hide="false"
        >
            <TimeModal :navBy="navBy" :startTime="dateFrom" :finishTime="dateTo" @close="timeModal = false" @update="update" @reset="reset"></TimeModal>
        </b-modal>
        <b-modal
            :active.sync="newActivityModal"
            ref="newActivityModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="New Activity"
            aria-modal
            :destroy-on-hide="false"
        >
            <NewActivity @close="newActivityModal = false" @save="saveActivity"></NewActivity>
        </b-modal>
        <b-modal
            :active.sync="newWorkoutModal"
            ref="newWorkoutModal"
            has-modal-card
            trap-focus
            aria-role="dialog"
            arial-label="New Workout"
            aria-modal
            :destroy-on-hide="false"
        >
            <NewWorkout @close="newWorkoutModal = false" @save="saveWorkout"></NewWorkout>
        </b-modal>
        <SubNav :ghost="true">
            <template #left>
            <div class='buttons'>
            <b-button v-if="activeTab < 2" :disabled="navBy == 'custom'" class='button' type='is-primary' icon-left='chevron-left' tag="router-link" :to="{name: 'ExerciseDay', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) - 1}}"/>
            <b-button v-if="activeTab < 2" :disabled="navBy == 'custom'" class='button' type='is-primary' icon-left='chevron-right' tag="router-link" :to="{name: 'ExerciseDay', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) + 1}}"/>
            <b-button v-if="activeTab < 2" :type="navBy == 'custom' ? 'is-warning' : 'is-primary'" class='button' icon-left='history' @click="timeModal = true"/>
            <b-button v-if="activeTab == 2" class='button' type='is-primary' @click="newActivityModal = true">New Activity</b-button>
            <b-button v-if="activeTab == 3" class='button' type='is-primary' @click="newWorkoutModal = true">New Workout</b-button>
            <b-button v-if="activeTab == 1" type="is-danger" icon-left="trash" :disabled="$refs.entries.selectedEntry == null" @click="$refs.entries.onDelete" />
            <b-button v-if="activeTab == 2" type="is-danger" icon-left="trash" :disabled="$refs.activity.selectedEntry == null" @click="$refs.activity.onDelete" />
            <b-button v-if="activeTab == 3" type="is-danger" icon-left="trash" :disabled="$refs.workout.selectedEntry == null" @click="$refs.workout.onDelete" />
            </div>
            </template>
            <div class='buttons'>
            <b-button class='button' type='is-primary' tag='router-link' to="/workout" icon-left='running' />
            </div>
        </SubNav>
    </section>
</template>
<script>
 import SubNav from '../SubNav.vue'
 import Stats from './Stats.vue'
 import TimeModal from '../TimeModal.vue'
 import { datetimeParent } from '@/mixins/datetimeComponent.js'
 import Entries from './Entries.vue'
 import Activity from './Activity.vue'
 import Workout from './Workout.vue'
 import NewActivity from './NewActivityModal.vue'
 import activity from '@/utils/activity.js'
 import NewWorkout from './NewWorkoutModal.vue'
 import workout from '@/utils/workout.js'
 import notification from '@/utils/notification.js'

 export default {
     name: "Exercise",
     mixins: [datetimeParent],
     components: {
         SubNav,
         Stats,
         TimeModal,
         Entries,
         Activity,
         Workout,
         NewActivity,
         NewWorkout
     },
     data () {
         return {
             viewRoute: "Exercise",
             activeTab: 0,
             timeModal: false,
             newActivityModal: false,
             newWorkoutModal: false,
         }
     },
     methods: {
        update (val) {
             this.dateTo = val.finishTime
             this.dateFrom = val.startTime
             this.navBy = "custom"
             this.timeModal = false
         },
         reset () {
             this.timeModal = false
             this.navBy = "default"
             this.dateTo = new Date()
             this.dateFrom = null
         },
         saveActivity(val) {
             activity.newActivity(val)
             this.newActivityModal = false
             notification.activityAdded(val.name)
             this.$refs.activity.sync()
         },
         saveWorkout(val){
             let wo = {
                 "name": val.name,
                 "type": val.type.id,
                 "exercises": new Array(val.exercises.length)
             }
             val.exercises.forEach((es,i) => {
                 wo.exercises[i] = new Array(es.length)
                 es.forEach((e,j) => {
                     wo.exercises[i][j] = {
                         "activity": e.activity.id,
                         "sets": e.sets,
                         "reps": e.reps,
                         "weight": e.weight
                     }
                 })
             })
             workout.newWorkout(wo)
             this.newWorkoutModal = false
             notification.workoutAdded(wo.name)
             this.$refs.workout.sync()
         }
     }
 }
</script>
<style>
 .ghost {
     background: rgba(0, 0, 0, .0);
 }
</style>
