<template>
    <section>
    <b-table
        paginated
        pagination-simple
        focusable
        per-page=5
        v-if="data.length > 0"
        :data="data"
        :columns="allColumns"
        :selected.sync="selectedEntry"
    >
    </b-table>
    <b-modal
        ref="editModal"
        has-modal-card
        trap-focus
        aria-role="dialog"
        arial-label="Period"
        aria-modal
        :destroy-on-hide="false"
    >
        <EditModal v-bind="selectedEntry" @close="selectedEntry = null" @delete="onDelete" @update="onUpdate"></EditModal>
    </b-modal>
    </section>
</template>
<script>
 import workout from '@/utils/workout.js'
 import setting from '@/mixins/setting.js'
 import EditModal from './EditModal.vue'
 import trainingType from '@/utils/trainingType.js'

 export default {
     components: {
         EditModal
     },
     mixins: [setting],
     data () {
         return {
            data: [],
            selectedEntry: null,
         }
     },
     mounted () {
         this.sync()
     },
     methods: {
         async sync () {
             await this.settingSync()
             this.data = await workout.getWorkout()
             let types = trainingType.type
             this.data.forEach(d => {
                 d.trainingType = types[d.type].name
                 d.category = types[d.type].categoryName
             })
         },
         async onDelete() {
             workout.deleteWorkout(this.selectedEntry.id)
             await this.sync()
             this.selectedEntry = null
         },
         async onUpdate(data) {
             workout.updateWorkout(data)
             await this.sync()
             this.selectedEntry = null
         }
     },
     computed: {
         entrySelected () {
             if (this.selectedEntry)
                 return true
             else
                 return false
         },
         allColumns() {
             return [
                 { field: "name", label: "Name" },
                 { field: "trainingType", label: "Type" },
                 { field: "category", label: "Category" },
             ]
         },
     }
 }
</script>
