<template>
    <section>
    <span class='block' v-if=false>Sessions this {{ timeSpan }}</span>
    <b-progress :value="stats.numberDays" :max="stats.numberSessionsOf" :type="stats.numberSessions >= (stats.numberSessionsOf/2) ? stats.numberSessions >= stats.numberSessinosOf ? 'is-success' : 'is-warning' : 'is-info'" show-value>
        {{ stats.numberDays }} / {{ stats.numberSessionsOf  }} days
    </b-progress>
    <span class='block' v-if=false>Minutes of Cardio this {{ timeSpan }}</span>
    <b-progress :value="stats.cardioMinutes" :max="stats.cardioMinutesOf" :type="stats.cardioMinutes >= (stats.cardioMinutesOf/2) ? stats.cardioMinutes >= stats.cardioMinutesOf ? 'is-success' : 'is-warning' : 'is-info'" show-value>
        {{ stats.cardioMinutes.toFixed(0) }} / {{ stats.cardioMinutesOf }} cardio min.
    </b-progress>

    <b-progress :value="stats.avgDuration" :max="180" :type="stats.avgDuration > 45 ? stats.avgDuration > 120 ? 'is-danger' : 'is-success' : 'is-primary'" show-value>
        {{ stats.avgDurationString }}
    </b-progress>
    <div v-if="type == 'detailed'">
    <b-progress v-if=false :value="stats.numberSessions" :max="stats.numberSessionsOf" :type="stats.numberSessions >= (stats.numberSessionsOf/2) ? stats.numberSessions >= stats.numberSessinosOf ? 'is-success' : 'is-warning' : 'is-info'" show-value>
        {{ stats.numberSessions }} / {{ stats.numberSessionsOf  }} sessions
    </b-progress>
    <b-table
        paginated
        pagination-simple
        focusable
        per-page=1
        v-if="allExercises.length > 0"
        :data="allExercises"
        :columns="columns"
    >
    </b-table>
    </div>
    </section>
</template>
<script>
 import session from '@/utils/session.js'
 import setting from '@/mixins/setting.js'
 import time from '@/utils/time.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'

 export default {
     props: ['type'],
     mixins: [setting,datetimeChild],
     data () {
         return {
            data: null,
             allExercises: [],
            stats: {
                 numberSessions: null,
                 numberSessionsOf: null,
                 avgDuration: null,
                 avgDurationString: null,
                cardioMinutes: 0,
                cardioMinutesOf: null,
                numberDays: null
            }
         }
     },
     methods: {
         async sync () {
             this.data = await session.getSessionDate(this.from, this.to)
             this.data.sort((a,b) => { return a.finishTime - b.finishTime })
             this.stats.numberSessions = this.data.length
             this.stats.numberSessionsOf = this.weeks * this.setting.sessionsPerWeek

             let workoutDays = [... new Set(this.data.map(s => new Date(s.finishTime.getFullYear(), s.finishTime.getMonth(), s.finishTime.getDate()).getTime()))]
             this.stats.numberDays = workoutDays.length

             let avgDuration = this.data.reduce(function(acc, cur) {
                 return acc + (cur.finishTime - cur.startTime)
             }, 0)
             this.stats.avgDuration = avgDuration / (1000 * 60)
             this.stats.avgDurationString = time.timeDelta(avgDuration / this.stats.numberSessions)


             let cardioMinutes = this.data.reduce(function(acc, cur) {
                 if (cur.category == 'cardio')
                    return acc + (cur.finishTime - cur.startTime)
                 return acc
             }, 0)
             this.stats.cardioMinutes = cardioMinutes / 1000 / 60
             this.stats.cardioMinutesOf = this.weeks * this.setting.cardioMinutesPerWeek

             let allSets = this.data.flatMap(s => {
                 if (s.sets)
                     return s.sets
             }).filter(el => el != null)

             let activities = [... new Set(allSets.map(a => a.activity.id).filter(el => el != null))]

             this.allExercises = []
             activities.forEach(act => {
                 let setsOfAct = allSets.filter(el => el.activity.id == act)
                 let area = setsOfAct.reduce(function(acc, cur){
                     return acc + cur.reps
                 },0)

                 let volume = setsOfAct.reduce(function(acc, cur){
                     return acc + (cur.reps * cur.weight)
                 }, 0)

                 this.allExercises.push({
                     "name": setsOfAct[0].activity.name,
                     "area": area,
                     "volume": volume
                 })

             })
             this.allExercises.sort((a,b) => b.volume - a.volume)
         }
     },
     computed: {
         weeks(){
             let one_week = 1000 * 60 * 60 * 24 * 7
             return ~~((this.to - this.from) / one_week) + 1
         },
         timeSpan(){
             return this.weeks >= 2 ? this.weeks >= 4 ? "month": "fortnight" : "week"
         },
         columns () {
             return [
                 { field: "name", label: "Name" },
                 { field: "area", label: "Area"},
                 { field: "volume", label: "Volume"}
             ]
         }
     }
 }
</script>
