<template>
    <section>
    <span class='block' v-if='stats.lastEntry'>{{ stats.lastEntry.name }}, {{ lastEntryDateString }}</span>
    <span v-else>No last session.</span>
    </section>
</template>
<script>
 import session from '@/utils/session.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'

 export default {
     mixins: [datetimeChild],
     data () {
         return {
            data: null,
            stats: {
                 lastEntry: null,
            }
         }
     },
     methods: {
         async sync () {
             this.data = await session.getSessionDate(this.from, this.to)
             this.data.sort((a,b) => { return a.finishTime - b.finishTime })
             this.stats.lastEntry = this.data[this.data.length -1]
         },
     },
 }
</script>
