<template>
    <section>
    <b-progress :value="stats.energy" :max="stats.energyOf" type="is-primary" show-value>
        <span>{{ stats.energy.toFixed(0) }}</span><span v-if="stats.energyOf"> / {{ stats.energyOf }}</span> {{ setting.defaultEnergyUnit.unit }}
    </b-progress>

    <b-progress v-show="stats.energy > 0 && stats.energyFromProtein > 0 || stats.energyFromCarbs > 0 || stats.energyFromFat > 0" :max="stats.energy" format="percent" :precision="0">
        <template #bar>
            <b-progress-bar :value="stats.energyFromProtein" type="is-danger" show-value></b-progress-bar>
            <b-progress-bar :value="stats.energyFromCarbs" type="is-success" show-value></b-progress-bar>
            <b-progress-bar :value="stats.energyFromFat" type="is-warning" show-value></b-progress-bar>
        </template>
    </b-progress>

    <div v-if="type == 'detailed'">
    <b-progress v-if="stats.proteinOf" :value="stats.protein" :max="stats.proteinOf" type="is-danger" show-value>
        <span>{{ stats.protein.toFixed(1) }}</span><span v-if="stats.proteinOf"> / {{ stats.proteinOf }}</span> g Protein
    </b-progress>

    <b-progress v-if="stats.fibreOf" :value="stats.fibre" :max="stats.fibreOf" type="is-success" show-value>
        <span>{{ stats.fibre.toFixed(1) }}</span><span v-if="stats.fibreOf"> / {{ stats.fibreOf }}</span> g Fibre
    </b-progress>

    <b-progress :value="stats.sVeg" :max="stats.sVegOf" type="is-warning" show-value>
        <span>{{ stats.sVeg.toFixed(1) }}</span><span> / {{ stats.sVegOf }} Veg</span>
    </b-progress>

    <b-progress :value="stats.sFruit" :max="stats.sFruitOf" type="is-warning" show-value>
        <span>{{ stats.sFruit.toFixed(1) }}</span><span> / {{ stats.sFruitOf }} Fruit</span>
    </b-progress>

    <b-progress v-if=false :value="stats.carbs" :max="stats.carbsOf" type="is-info" show-value>
        <span>{{ stats.carbs.toFixed(1) }}</span><span v-if="stats.carbsOf"> / {{ stats.carbsOf }}</span> g Carbs
    </b-progress>

    <b-progress v-if=false :value="stats.fat" :max="stats.fatOf" type="is-warning" show-value>
        <span>{{ stats.fat.toFixed(1) }}</span><span v-if="stats.fatOf"> / {{ stats.fatOf }}</span> g Fat
    </b-progress>
    </div>

    </section>
</template>
<script>
 import nutrition from '@/utils/nutrition.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'

 export default {
     mixins: [setting,datetimeChild],
     props: ["type"],
     data () {
         return {
            data: null,
            stats: {
                 energy: 0,
                 energyOf: null,
                 protein: 0,
                 proteinOf: null,
                 fibre: 0,
                 fibreOf: null,
                 carbs: 0,
                 carbsOf: null,
                 fat: 0,
                 fatOf: null,
                 avgEnergyIntake: 0,
                 sVeg: 0,
                 sVegOf: 5,
                 sFruit: 0,
                 sFruitOf: 2,
                 energyFromProtein: 0,
                 energyFromCarbs: 0,
                 energyFromFat: 0,
            }
         }
     },
     watch: {
         'setting.energyBudgetValue': function(val) {
             if (this.setting?.energyBudgetType && this.energyBudgetType == "custom")
                 this.stats.energyOf = val
         },
         'setting.energyBudgetScheduleValue': function(val) {
             if (this.setting?.energyBudgetType && this.setting.energyBudgetType == "schedule")
                this.stats.energyOf = val[this.daysOfTheWeek[this.dateTo.getDay()]]
         }
     },
     methods: {
         async sync () {
             await this.settingSync()

             if (this.setting?.energyBudgetType && this.setting.energyBudgetType == "custom")
                 this.stats.energyOf = this.setting.energyBudgetValue
             if (this.setting?.energyBudgetType && this.setting.energyBudgetType == "schedule")
                 this.stats.energyOf = Math.max(...this.setting.energyBudgetScheduleValue)

             this.data = await nutrition.getNutritionDate(this.from, this.to)
             this.data.sort((a,b) => { return a.datetime - b.datetime })

             let allEnergy = this.data.map(e => {
                 let val = null
                 if (e.record.energy.unit != this.setting.defaultEnergyUnit)
                     val = nutrition.convertEnergy(e.record.energy.qty, e.record.energy.unit, this.setting.defaultEnergyUnit)
                 else
                     val = e.record.energy.qty
                 return { "qty": val, "unit": this.setting.defaultUnit }
             })

             this.stats.energy = allEnergy.reduce(function(acc,cur){
                 return acc + cur.qty
             }, 0) / this.daysComplete

             this.stats.protein = this.data.reduce(function(acc, cur) {
                if(isNaN(cur.record.macro.protein.qty)) {
                    return acc + 0
                }
                return acc + cur.record.macro.protein.qty
             }, 0) / this.daysComplete
             this.stats.proteinOf = this.setting.proteinTarget

             this.stats.fibre = this.data.reduce(function(acc, cur) {
                if(isNaN(cur.record.micro.fibre.qty)) {
                    return acc + 0
                }
                return acc + cur.record.micro.fibre.qty
             }, 0) / this.daysComplete
             this.stats.fibreOf = this.setting.fibreTarget

             this.stats.carbs = this.data.reduce(function(acc, cur) {
                if(isNaN(cur.record.macro.carbohydrate.qty)) {
                    return acc + 0
                }
                return acc + cur.record.macro.carbohydrate.qty
             }, 0) / this.daysComplete

             this.stats.fat = this.data.reduce(function(acc, cur) {
                if(isNaN(cur.record.macro.fat.qty)) {
                    return acc + 0
                }
                return acc + cur.record.macro.fat.qty
             }, 0) / this.daysComplete

             if (this.setting.defaultEnergyUnit.unit == 'kJ') {
                this.stats.energyFromProtein = this.stats.protein * 16.7
                this.stats.energyFromCarbs = this.stats.carbs * 16.7
                this.stats.energyFromFat = this.stats.fat * 37.7
             } else {
                this.stats.energyFromProtein = this.stats.protein * 4
                this.stats.energyFromCarbs = this.stats.carbs * 4
                this.stats.energyFromFat = this.stats.fat * 9
             }

             this.stats.sVeg = this.data.reduce(function(acc, cur){
                 if(isNaN(cur.record?.misc?.sVeg?.qty)) {
                     return acc + 0
                 }
                 return acc + cur.record.misc.sVeg.qty
             }, 0) / this.daysComplete

             this.stats.sFruit = this.data.reduce(function(acc, cur){
                 if(isNaN(cur.record?.misc?.sFruit?.qty)) {
                     return acc + 0
                 }
                 return acc + cur.record.misc.sFruit.qty
             }, 0) / this.daysComplete


         }
     },
 }
</script>
