<template>
    <section class='section container'>
        <h1 class="title">
            {{ todayString }}
        </h1>
        <h2 class="subtitle">
            {{ dateString  }}
        </h2>
        <div class='tile is-parent is-vertical'>
            <router-link :to="exerciseRoute">
            <div class='tile is-child box'>
                <h1 class="title is-6" >Last Session</h1>
                <ExerciseLast :dateTo="dateTo" :dateFrom="dateFrom"></ExerciseLast>
                <hr/>
                <h1 class='title is-6'>Exercise this Week</h1>
                <Exercise :dateTo="dateTo" :dateFrom="dateFrom"></Exercise>
            </div>
            </router-link>

            <router-link :to="nutritionRoute">
            <div class='tile is-child box'>
                <h1 class='title is-6'>Nutrition Today</h1>
                <Nutrition :dateTo="dateTo" :dateFrom="dateFrom"></Nutrition>
                <br/>
                <h1 class='title is-6'>This Week</h1>
                <NutritionAvg :dateTo="we" :dateFrom="wc"></NutritionAvg>
            </div>
            </router-link>

            <router-link :to="weightRoute">
            <div class='tile is-child box'>
                <h1 class='title is-6'>Weight</h1>
                <Weight></Weight>
            </div>
            </router-link>
        </div>

        <SubNav :ghost="true">
            <template #left>
            <div class='buttons'>
            <b-button class='button' type='is-primary' icon-left='chevron-left' tag="router-link" :to="{name: 'Day', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) - 1}}"/>
            <b-button class='button' type='is-primary' icon-left='chevron-right' tag="router-link" :to="{name: 'Day', params: {'year': parseInt(year), 'month': month, 'date': parseInt(date) + 1}}"/>
            </div>
            </template>
            <div class='buttons'>
            <b-button class='button' type='is-primary' tag='router-link' to="/weight/record" icon-left='weight' />
            <b-button class='button' type='is-primary' tag='router-link' to="/nutrition/record" icon-left='carrot' />
            <b-button class='button' type='is-primary' tag='router-link' to="/workout" icon-left='running' />
            </div>
        </SubNav>
    </section>
</template>
<script>
 import Exercise from '@/components/Dashboard/Exercise.vue'
 import Nutrition from '@/components/Dashboard/Nutrition.vue'
 import Weight from '@/components/Dashboard/Weight.vue'
 import SubNav from '../SubNav.vue'
 import { datetimeParent } from '@/mixins/datetimeComponent.js'
 import NutritionAvg from '@/components/Dashboard/NutritionAvg.vue'
 import ExerciseLast from '@/components/Dashboard/ExerciseLast.vue'

 export default {
     name: "Dashboard",
     mixins: [datetimeParent],
     components: {
         Exercise,
         Nutrition,
         Weight,
         SubNav,
         NutritionAvg,
         ExerciseLast
     },
     data () {
         return {
             viewRoute: "",
             exerciseRoute: { name: "Exercise" },
             nutritionRoute: { name: "Nutrition"},
             weightRoute: { name: "Weight" },
         }
     },
 }
</script>
<style>
 .ghost {
     background: rgba(0, 0, 0, .0);
 }
</style>
