<template>
    <section>
    <div v-if='data.length > 0'>
    <b-progress :value="weightValue" :max="weightMax" type="is-success" show-value>
        <span>{{ stats.weight }}</span> <span v-if="stats.weightOf ">/ {{ stats.weightOf }}</span>{{ setting.weightUnit.unit }}
    </b-progress>
    <b-progress :value="bfValue" :max="bfMax" type="is-info" show-value>
        <span>{{ stats.bf }}</span> <span v-if="stats.bfOf">/ {{ stats.bfOf}}</span>%
    </b-progress>
    <div v-if="type == 'detailed'">
        <b-progress :max="stats.weight">
            <template #bar>
                <b-progress-bar :value="stats.leanMass" type="is-success" show-value>
            <span>{{ stats.leanMass.toFixed(1) }} {{ setting.weightUnit.unit }}</span>
                </b-progress-bar>
                <b-progress-bar :value="stats.fatMass" type="is-warning" show-value>
            <span>{{ stats.fatMass.toFixed(1) }} {{ setting.weightUnit.unit }}</span>
                </b-progress-bar>
        </template>
        </b-progress>
        <div class="content">
            <table>
                <tr>
                    <th>Stat</th><th>First</th><th>Last</th><th>Net</th><th>Std. Dev.</th>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{ stats.first.weight }}</td>
                    <td>{{ stats.last.weight }}</td>
                    <td>{{ stats.netWeight.toFixed(1) }}</td>
                    <td>{{ stats.netWeightSD.toFixed(2) }}</td>
                </tr>
                <tr>
                    <td>Body Fat %</td>
                    <td>{{ stats.first.bf }}</td>
                    <td>{{ stats.last.bf }}</td>
                    <td>{{ stats.netBf.toFixed(1) }}</td>
                    <td>{{ stats.netBfSD.toFixed(2) }}</td>
                </tr>
                <tr>
                    <td>Lean Mass</td>
                    <td>{{ stats.first.leanMass.toFixed(1) }}</td>
                    <td>{{ stats.last.leanMass.toFixed(1) }}</td>
                    <td>{{ stats.netLeanMass.toFixed(1) }}</td>
                    <td>{{ stats.netLeanMassSD.toFixed(2) }}</td>
                </tr>
                <tr>
                    <td>Body Fat</td>
                    <td>{{ stats.first.fatMass.toFixed(1) }}</td>
                    <td>{{ stats.last.fatMass.toFixed(1) }}</td>
                    <td>{{ stats.netfatMass.toFixed(1) }}</td>
                    <td>{{ stats.netfatMassSD.toFixed(2) }}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <div v-else>
        <span>No Weight recorded in this period.</span>
    </div>
    </section>
</template>
<script>
 import weight from '@/utils/weight.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'

 function standardDeviation (array) {
   const n = array.length
   const mean = array.reduce((a, b) => a + b) / n
   return Math.sqrt(array.map(x => Math.pow(x - mean, 2)).reduce((a, b) => a + b) / n)
 }

 export default {
     props: ["type"],
     mixins: [setting, datetimeChild],
     data () {
         return {
            data: [],
            weightValue: null,
            weightMax: null,
            bfValue: null,
            bfMax: null,
            stats: {
                first: null,
                last: null,
                weight: null,
                weightOf: null,
                bf: null,
                bfOf: null,
                netWeight: null,
                netWeightSD: null,
                netBf: null,
                netBfSD: null,
                leanMass: null,
                netLeanMass: null,
                netLeanMassSD: null,
            },
         }
     },
     methods: {
         async sync () {
             await this.settingSync()

             this.data = await weight.getWeightDate(this.from, this.to)
             this.data.sort((a,b) => { return a.datetime - b.datetime })
             this.stats.first = this.data[0]
             this.stats.last = this.data.[this.data.length -1]

             this.stats.weightOf = this.setting.targetWeight
             this.stats.weight = this.stats.last?.weight

             if (this.setting.initialWeight > this.setting.targetWeight){
                 this.weightValue = this.setting.initialWeight - this.stats.weight
                 this.weightMax = this.setting.initialWeight - this.setting.targetWeight
             } else {
                 this.weightValue = this.stats.weight - this.setting.initialWeight
                 this.weightMax = this.setting.targetWeight - this.setting.initialWeight
             }

             this.stats.bf = this.stats.last?.bf
             this.stats.bfOf = this.setting.percentageBodyFat

             if (this.setting.initialPercentageBodyFat > this.setting.percentageBodyFat){
                 this.bfValue = this.setting.initialPercentageBodyFat - this.stats.bf
                 this.bfMax = this.setting.initialPercentageBodyFat - this.setting.percentageBodyFat
             } else {
                 this.bfValue = this.stats.bf - this.setting.initialPercentageBodyFat
                 this.bfMax = this.setting.percentageBodyFat - this.setting.initialPercentageBodyFat
             }

             this.stats.leanMass = this.stats.weight * (100 - this.stats.bf)/100
             this.stats.fatMass = this.stats.weight * (this.stats.bf)/100
             if (this.data?.length > 1) {
                 let first = this.stats.first
                 let last = this.stats.last
                 this.stats.netWeight = last.weight - first.weight
                 this.stats.netWeightSD = standardDeviation(this.data.map(d => d.weight))
                 this.stats.netBf = last.bf - first.bf
                 this.stats.netBfSD = standardDeviation(this.data.map(d => d.bf))
                 this.stats.netLeanMass = (last.weight * (100 - last.bf)/100) - (first.weight * (100 - first.bf)/100)
                 this.stats.netLeanMassSD = standardDeviation(this.data.map(d => d.weight * (100 - d.bf)/100))
                 this.stats.first.leanMass = this.stats.first.weight * (100 - this.stats.first.bf)/100
                 this.stats.last.leanMass = this.stats.weight * (100 - this.stats.bf)/100
                 this.stats.netfatMass = (last.weight * (last.bf)/100) - (first.weight * (first.bf)/100)
                 this.stats.netfatMassSD = standardDeviation(this.data.map(d => d.weight * (d.bf)/100))
                 this.stats.first.fatMass = this.stats.first.weight * (this.stats.first.bf)/100
                 this.stats.last.fatMass = this.stats.weight * (this.stats.bf)/100
             } else {
                 this.stats.netWeight = 0
                 this.stats.netWeightSD = 0
                 this.stats.netBf = 0
                 this.stats.netBfSD = 0
                 this.stats.netLeanMass = 0
                 this.stats.netLeanMassSD = 0
                 this.stats.netfatMass = 0
                 this.stats.netfatMassSD = 0
                 this.stats.first.leanMass = 0
                 this.stats.last.leanMass = 0
                 this.stats.first.fatMass = 0
                 this.stats.last.fatMass = 0
             }
         }
     },
 }
</script>
