<template>
    <section>
    <div v-if='data.length > 0'>
    <b-progress :value="weightValue" :max="weightMax" type="is-success" show-value>
        <span>{{ stats.weight }}</span> <span v-if="stats.weightOf ">/ {{ stats.weightOf }}</span>{{ setting.weightUnit.unit }}
    </b-progress>
    <b-progress :value="bfValue" :max="bfMax" type="is-info" show-value>
        <span>{{ stats.bf }}</span> <span v-if="stats.bfOf">/ {{ stats.bfOf}}</span>%
    </b-progress>
    </div>
    <div v-else>
        <span>No Weight recorded.</span>
    </div>
    </section>

</template>
<script>
 import weight from '@/utils/weight.js'
 import setting from '@/mixins/setting.js'
 import { datetimeChild } from '@/mixins/datetimeComponent.js'

 export default {
     mixins: [setting, datetimeChild],
     data () {
         return {
            data: [],
            weightValue: null,
            weightMax: null,
            bfValue: null,
            bfMax: null,
            stats: {
                weight: null,
                weightOf: null,
                bf: null,
                bfOf: null,
            },
         }
     },
     methods: {
         async sync () {
             await this.settingSync()

             this.data = await weight.getWeightDate(this.from, this.to)

             // If there is no data available for this period, get the last entry
             if (this.data.length == 0)
                 this.data = await weight.getWeight()

             this.data.sort((a,b) => { return a.datetime - b.datetime })

             this.stats.weightOf = this.setting.targetWeight
             this.stats.weight = this.data[this.data.length -1].weight

             if (this.setting.initialWeight > this.setting.targetWeight){
                 this.weightValue = this.setting.initialWeight - this.stats.weight
                 this.weightMax = this.setting.initialWeight - this.setting.targetWeight
             } else {
                 this.weightValue = this.stats.weight - this.setting.initialWeight
                 this.weightMax = this.setting.targetWeight - this.setting.initialWeight
             }

             this.stats.bf = this.data[this.data.length -1].bf
             this.stats.bfOf = this.setting.percentageBodyFat

             if (this.setting.initialPercentageBodyFat > this.setting.percentageBodyFat){
                 this.bfValue = this.setting.initialPercentageBodyFat - this.stats.bf
                 this.bfMax = this.setting.initialPercentageBodyFat - this.setting.percentageBodyFat
             } else {
                 this.bfValue = this.stats.bf - this.setting.initialPercentageBodyFat
                 this.bfMax = this.setting.percentageBodyFat - this.setting.initialPercentageBodyFat
             }
         }
     },
 }
</script>
