<template>
  <div id="app">
    <Nav v-if="initialised"></Nav>
      <transition name='fade' mode='out-in'>
        <component :is="initialised ? 'Fitkit' : 'Landing'"></component>
      </transition>
  </div>
</template>

<script>
 import Landing from "@/components/Landing.vue"
 const Fitkit = () => import(/* webpackChunkName: "fitkit" */ "@/components/Fitkit.vue")
 const Nav = () => import(/* webpackChunkName: "fitkit" */ "@/components/Nav.vue")
 import update from '@/mixins/update.js'
 import init from '@/mixins/init.js'

 export default {
     name: 'App',
     components: {
         Landing,
         Fitkit,
         Nav
     },
     mixins: [init,update],
     watch: {
         updateExists(val) {
             if (val) {
                 this.$buefy.snackbar.open({
                    message: "An update is available",
                    actionText: "Update",
                    indefinite: true,
                    onAction: () => {
                        this.refreshApp()
                    }
                })
             }
         }
    }
 }
</script>
<style>
 @media screen and (max-width: 768px) {
     .notices.is-top {
         padding-top: env(safe-area-inset-top);
     }
     .notices.is-bottom {
         padding-bottom: env(safe-area-inset-bottom);
     }
 }
</style>
